{% extends "mmm/skeleton.html" %}
{% block head_title %}Votre paiement sur Madame Aime s'est bien déroulé{% endblock %}
{% block meta_description %}Votre paiement sur Madame Aime s'est bien déroulé{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/checkout.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block mmm_content %}
<div style="background: #ffffff; margin: 100px 0 200px 0; font-style: normal; font-size: 70%; padding: 20px; border: 1px solid #dddddd;">
  <h4 style="margin: 0 0 10px 0;">Le paiement a été refusé</h4>
	<p class="text-error">Raison : {{GET.MESSAGE}}</p>
	<p>Si vous pensez qu'il s'agit d'une erreur, n'hésitez pas à contacter Madame Aime à <a href="mailto:contact@madameaime.com">contact@madameaime.com</a> en renseignant votre numéro de commande : <strong>{{GET.ORDERID}}</strong></p>
</div>
{% endblock %}
