{% extends "mmm/skeleton.html" %}
{% load l10n %}
{% block head_title %}Votre paiement sur Madame Aime s'est bien déroulé{% endblock %}
{% block meta_description %}Votre paiement sur Madame Aime s'est bien déroulé{% endblock %}
{% block mmm_content %}
<div style="background: #ffffff; margin: 100px 0 200px 0; font-style: normal; font-size: 70%; padding: 20px; border: 1px solid #dddddd;">
  <h4 style="margin: 0 0 10px 0;">Le paiement a été validé</h4>
  <p class="text-info">Le paiement s'est bien déroulé. Votre commande a bien été prise en compte. Madame Aime vous remercie de votre fidélité</p>

  <img width="1"
       height="1"
       src="http://leads.partners.tmpds266.maakave17.com/counteripbc.php?MKZOFKC=259&email={{GET.TRANSACTIONID}}&bc={{GET.TRANSACTIONID}}&price={{price_without_tax|floatformat:"2"}}" />

  <script>
    _gaq.push(['_addTrans',
      '{{GET.TRANSACTIONID}}',
      undefined,        // affiliation or store name
      '{{total_price|unlocalize}}',
      null,             // tax
      null,             // shipping
      null,             // city
      null,             // state or province
      'FR'              // country
    ]);

    {% for order_sale in order_sales %}
    _gaq.push(['_addItem',
      '{{GET.TRANSACTIONID}}',
      '{{order_sale.sale.pk}}',                // SKU/code - required
      '{{order_sale.sale.product.name}}',      // product name
      null,                                    // category or variation
      '{{order_sale.sale.price|unlocalize}}',  // unit price - required
      '1'                                      // quantity - required
    ]);
    {% endfor %}

    _gaq.push(['_trackTrans']);
  </script>
</div>

<iframe src="http://www.weedoit.fr/tracking/tracklead.php?idcpart=1068&idr={{GET.TRANSACTIONID}}&email={{GET.CLIENTEMAIL}}" height="1" width="1" frameborder="0"></iframe>

{% endblock %}
