{% extends "mmm/skeleton.html" %}
{% block head_title %}Paiement de votre commande sur Madame Aime{% endblock %}
{% block meta_description %}Paiement de votre commande sur Madame Aime{% endblock %}
{% block mmm_content %}
<div id="checkout-payment" class="row-fluid">
	<form id="payment_form" method="post" action="{{form.get_url}}">
		<fieldset>
			Vous allez être redirigé vers notre système de paiement sécurisé.
		</fieldset>
		{% for field in form %}
		{{field.as_hidden}}
		{% endfor %}
    <div class="control-group">
      <label class="control-label">Cliquez ci-dessous pour accéder directement à l'interface de paiement</label>
      <div class="controls">
				<button type="submit" class="btn-link shiny" id="payment_submit" name="ok">Paiement</button>
      </div>
    </div>
	</form>
</div>
{% endblock %}
