{% extends "mmm/skeleton.html" %}
{% block head_title %}Votre panier - Madame Aime{% endblock %}
{% block meta_description %}Madame Aime est un moyen facile de composer son panier de cadeaux pour se faire plaisir ou faire plaisir à ses proches{% endblock %}
{% block mmm_content %}
<table id="checkout-cart">
  <thead>
    <tr>
      <th class="first"></th>
      <th class="second">Description</th>
      <th class="third"></th>
      <th class="fourth">Prix</th>
      <th class="fifth"></th>
    </tr>
  </thead>
  <tbody>
    {% for object in objects %}
    <tr>
      <td class="thumb"></td>
      <td class="info">
	<b class="name">{{object.product.name}}</b><br />
        <span class="description">
	  {{object.shopping_cart_description|safe|linebreaks}}
	</span>
      </td>
      <td></td>
      <td class="price">
	<span class="value">{{object.price}} €</span><br />
	<span class="shipping">livraison incluse</span>
      </td>
      <td class="delete">
	<form method="post" action="{% url 'emarket:shopping-cart.remove' sale_id=object.pk %}">
	  {% csrf_token %}
          <button type="submit" class="btn-link shiny">Supprimer</button>
        </form>
      </td>
    </tr>
    {% endfor %}

    {% if objects %}
    <tr>
      <td>&nbsp;</td>
      <td class="info"><b>Code promo</b></td>
      <td colspan="2">
        <form method="post" action="{% url 'shopping-cart' %}">
          {% csrf_token %}
          <div class="control-group{% if form.code.errors %} error{% endif %}">
            {% if form.code.errors %}
            <span class="help-block">{{form.code.errors.as_text}}</span>
            {% endif %}
            <input type="text" class="input-xlarge" name="{{form.code.html_name}}" id="{{form.code.id_for_label}}" value="{{form.code.value|default_if_none:""}}" />
            <input type="submit" value="Utiliser ce code promo" />
          </div>
        </form>
      </td>
    </tr>
    {% endif %}

  </tbody>
  <tfoot>
    <tr>
      <td class="add" rowspan="2" colspan="2"><a href="{% url 'offer' %}">Ajouter un coffret à ma commande</a></td>
      <td class="total-label">Total</td>
      <td class="total-value">
        <span class="value">{{total_price}} €</span><br />
        <span class="shipping">frais de port inclus</span>
      </td>
      <td rowspan="2" class="validate">
        <a href="{% url 'emarket:delivery' %}">
          <img src="{{ STATIC_URL }}img/checkout/validate.png" alt="Valider" />
        </a>
      </td>
    </tr>
    <tr>
      <td class="vat-label">Dont TVA</td>
      <td class="vat-value">{{charges|floatformat:2}}€</td>
    </tr>
  </tfoot>
</table>

<section id="cart-upsale">
  <h2>Nous vous proposons également :</h2>
  <div class="products clearfix">
    <div>
      <img src="{{ STATIC_URL }}img/checkout/upsale/1.png?0" alt="" />
      <h4>Coffret MadameAime by Vivolta</h4>
      <div class="bottom">
        <p class="price">
          16,90€
        </p>
        <p class="delivery">
          livraison incluse
        </p>
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="15" />
          <input type="image" src="{{ STATIC_URL }}img/checkout/upsale/add.png" alt="Commander"/>
        </form>
      </div>
    </div>

    <div><!-- empty, but it looks better this way --></div>

    <div>
      <img src="{{ STATIC_URL }}img/checkout/upsale/3.png" alt="" />
      <h4>Abonnement MadameAime</h4>
      <p class="details">
        1er coffret :<br />
        MadameAime by Vivolta
      </p>
      <div class="bottom">
        <p class="price">
          22,90€ / coffret
        </p>
        <p class="delivery">
          livraison incluse
        </p>
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="11" />
          <input type="image" src="{{ STATIC_URL }}img/checkout/upsale/add.png" alt="Commander"/>
        </form>
      </div>
    </div>
    <div>
      <img src="{{ STATIC_URL }}img/checkout/upsale/4.png" alt="" />
      <h4>Pack 3 coffrets</h4>
      <p class="details">
        MadameAime by Vivolta<br />
        + MadameAime l’été<br />
        + MadameAime la rentrée
      </p>
      <div class="bottom">
        <p class="price">
          64,70€ les 3 coffrets
        </p>
        <p class="delivery">
          livraison incluse
        </p>
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="12" />
          <input type="image" src="{{ STATIC_URL }}img/checkout/upsale/add.png" alt="Commander"/>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="index-security" class="row-fluid">
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/lock.png" alt=""/>
    Paiement sécurisé
  </div>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/truck.png" alt=""/>
    Livraison incluse
  </div>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/phone.png" alt=""/>
    01.45.23.29.90
  </div>
</section>
{% endblock %}
