#box .description {
    height: 392px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

#box .description .photo {
    width: 540px;
    margin: 15px 0 0 15px;
}

#box .description .text {
    width: 390px;
    margin: 15px 15px 0 0;
}

#box .description .text h1 {
    text-align: center;
    font-size: 29px;
    line-height: 40px;
    font-weight: normal;
    color: #e2507f;
    letter-spacing: -0.06em;
    margin: 0 0 10px 0;
}

#box .description .text p {
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.06em;
}

#box .products .row-fluid,
#brand .products .row-fluid {
    margin-bottom: 15px;
}

#box .products .product,
#brand .products .product {
    height: 215px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    background-repeat: no-repeat;
    background-position: 13px;
    position: relative;
}

#box .products .product h2,
#brand .products .product h2 {
    font-family: 'bebas';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    line-height: 26px;
    color: #e2507f;
    margin-bottom: 30px;
}

#box .products .product .image,
#brand .products .product .image {
    padding: 10px 0 0 10px;
}

#box .products .product .details,
#brand .products .product .details {
    padding: 10px 10px 0 0;
    font-style: normal;
    font-size: 15px;
}

#box .products .product a,
#brand .products .product a {
    display: block;
    background: url('../img/boxes/discover.png') 0 0 no-repeat;
    width: 153px;
    height: 57px;
    padding: 14px 0 0 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#box .products .next {
    position: relative;
    height: 215px;
    background-color: #4b4b4b;
    border: 1px solid #dddddd;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 20px;
    color: #ffffff;
}

#box .products .next img {
    position: absolute;
    left: 12px;
    top: 12px;
}

#box .products .next p {
    font-style: normal;
    font-size: 19px;
    line-height: 23px;
}

#box .products .next .mag,
#box .products .more {
    margin-top: 35px;
    position: relative;
}

#box .products .next .mag a,
#box .products .next .more a {
    display: block;
    position: absolute;
    height: 57px;
    left: 200px;
    top: -12px;
}

#box .products .next .mag a {
    background: url('../img/boxes/mag.png') 0 0 no-repeat;
    font-size: 24px;
    width: 224px;
    padding: 16px 0 0 30px;
}

#box .products .next .more a {
    background: url('../img/boxes/profit.png') 0 0 no-repeat;
    display: block;
    width: 151px;
    padding: 13px 0 0 22px;
}


#box .previous {
    margin: 20px 0 20px 0;
}

#box .previous .title {
    background-color: #4b4b4b;
    border: 1px solid #dddddd;
    color: #e2507f;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
}

#box .previous ul  {
    margin: 15px 0 0 0;
}

#box .previous ul li  {
    text-align: center;
    font-size: 16px;
}

#box .previous ul li a {
    display: block;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    height: 210px;
    padding-top: 10px;
    margin: 0 0 5px 0;
    position: relative;
}

#box .previous ul li a .shiny {
    background: url('../img/boxes/discover.png') 0 0 no-repeat;
    width: 153px;
    height: 57px;
    display: block;
    padding: 14px 0 0 30px;
    text-align: left;
    position: absolute;
    bottom: -10px;
    right: -10px;
}

#box .previous ul li img {
    width: 290px;
    height: 188px;
}
