/*************/
/* Slideshow */
/*************/

#index-slideshow {
    height: 329px;
    background-color: #ffffff;
    border: 1px solid #dddddd;

    margin-top: 10px;
    margin-bottom: 25px;

    position: relative;
}

#index-slideshow .carousel {
    width: 100%;
    height: 100%;
}

#index-slideshow .carousel-inner { width: 100%; height: 100%; }

#index-slideshow .carousel-nav {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
}

#index-slideshow .carousel-nav span {
    position: static;
    display: inline;
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url("../img/homepage/bullet.png") 0 0 no-repeat;
    margin: 0 8px 0 0;
    cursor: pointer;
}

#index-slideshow .carousel-nav span.active,#index-slideshow .carousel-nav span:hover {
    background: url("../img/homepage/bullet_active.png") 0 0 no-repeat;
}

#index-slideshow .item { width: 100%; height: 100%; text-align: right; }
#index-slideshow .item.two > p .pink { font-size: 29px; }

/***********/
/* Inserts */
/***********/

#index-inserts {
    margin: 0 0 25px 0;
}

#index-inserts > div {
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 288px;
    height: 186px;
    position: relative;
}

#index-inserts > div .inner {
    width: 100%;
    height: 100%;
    border: 10px solid #ffffff;
    background: transparent;
}

#index-inserts > div .overlay {
    width: 307px;
    height: 57px;
    position: absolute;
    bottom: -7px;
    right: -31px;
    background: url('../img/homepage/button.png') no-repeat;
}

#index-inserts > div .overlay .span7 {
    font-size: 16px;
    color: #dddddd;
    padding: 14px 0 0 10px;
    letter-spacing: -0.06em;
}

#index-inserts > .how-does-it-work .overlay .span7 {
    font-size: 15px;
}

#index-inserts > div .overlay .span5 {
    padding: 14px 0 0 5px;
}

#index-inserts .story, #index-inserts .how-does-it-work {
    margin-right: 45px;
}

#index-inserts .story .inner {
    background: url('../img/homepage/inserts_story.png') no-repeat;
    background-color: #dddddd;
}

#index-inserts .how-does-it-work .inner {
    background: url('../img/homepage/inserts_how_does_it_work.png') no-repeat;
    background-color: #dddddd;
}

#index-inserts .gift .inner {
    background: url('../img/homepage/inserts_gift.png') 0 -2px no-repeat;
    background-color: #dddddd;
}

#index-inserts .gift .overlay .span5 {
    padding-left: 18px;
}


/**********/
/* Brands */
/**********/

#index-brands {
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #dddddd;

    margin-bottom: 25px;
}

#index-brands > a {
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


#index-brands .one { background: url('../img/brands/sous-l-oranger/logo_off.png') 0 -8px no-repeat; }
#index-brands .one:hover { background: url('../img/brands/sous-l-oranger/logo.png') 0 -8px no-repeat; }

#index-brands .two { background: url('../img/brands/secrets-de-miel/logo_off.png') 0 -8px no-repeat; }
#index-brands .two:hover { background: url('../img/brands/secrets-de-miel/logo.png') 0 -8px no-repeat; }


#index-brands .three { background: url('../img/brands/jeanne-m/logo_off.png') 0 -5px no-repeat; }
#index-brands .three:hover { background: url('../img/brands/jeanne-m/logo.png') 0 -5px no-repeat; }

#index-brands .four { background: url('../img/brands/au-pays-de-la-fleur-d-oranger/logo_off.png') 0 -5px no-repeat; }
#index-brands .four:hover { background: url('../img/brands/au-pays-de-la-fleur-d-oranger/logo.png') 0 -5px no-repeat; }
