/*************/
/* Slideshow */
/*************/

#order-slideshow {
    margin-top: 10px;
    margin-bottom: 25px;

    position: relative;
}

#order-slideshow .carousel {
    background-color: #ffffff;
    border: 1px solid #dddddd;

    height: 329px;
    width: 100%;
}

#order-slideshow .carousel-inner { width: 100%; height: 100%; }

#order-slideshow .carousel-nav {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-order: 2;
}

#order-slideshow .carousel-nav span {
    position: static;
    display: inline;
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url("../img/order/bullet.png") 0 0 no-repeat;
    margin: 0 8px 0 0;
    cursor: pointer;
}

#order-slideshow .carousel-nav span.active,#order-slideshow .carousel-nav span:hover {
    background: url("../img/order/bullet_active.png") 0 0 no-repeat;
}

#order-slideshow .item { width: 100%; height: 100%; text-align: right; }
#order-slideshow .item.two > p .pink { font-size: 29px; }


#order-slideshow p {
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    margin: 0;
    padding: 0;
}

#order-slideshow p a {
    text-decoration: underline;
    color: #999999;
}


/************/
/* Products */
/************/

#order-products {
    margin-bottom: 25px;
}

#order-products > div {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    height: 330px;
}

#order-products .what {
    float: left;
    height: 100%;
    width: 260px;
    text-align: center;
    padding: 35px 0 15px 0;
    position: relative;
}

#order-products .what p {
    font-size: 16px;
    margin-top: 30px;
}

#order-products .what a {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    color: #999999;
    font-size: 14px;
    text-decoration: underline;
}

#order-products .what .am,
#order-products .what .stram,
#order-products .what .gram,
#order-products .what .pic {
    font-family: 'bebas';
    font-weight: normal;
    font-style: normal;
}

#order-products .what .stram,
#order-products .what .pic {
    color: #e2507f;
}

#order-products .what .am { font-size: 48px; line-height: 40px; }
#order-products .what .stram { font-size: 82px; line-height: 72px; }
#order-products .what .gram { font-size: 36px; line-height: 36px; }
#order-products .what .pic { font-size: 42px; line-height: 42px; }

#order-products .info {
    position: relative;
    background-color: #e1e1e1;
    width: 200px;
    height: 310px;
    float: right;
    margin: 10px 15px 0 0;
    padding: 10px 0;
    text-align: center;
}

#order-products .info h2 {
    font-family: 'bebas';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    margin-top: 0;
}

#order-products .info .content {
    height: 100px;
    font-weight: normal;
    font-size: 15px;
}

#order-products .info .price {
    font-family: 'bebas';
    font-style: normal;
    font-size: 48px;
    line-height: 48px;
    color: #e2507f;
}

#order-products .info img {
    width: 64px;
    height: 74px;
    position: absolute;
    right: -10px;
    top: 155px;
}

#order-products .info .insteadof {
    font-family: 'bebas';
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    color: #e2507f;
}

#order-products .info .delivery {
    color: #e2507f;
}

#order-products .info form {
    margin-top: 8px;
}

/*********/
/* Order */
/*********/

#order {
    margin-bottom: 25px;
}

#order .howto {
    height: 56px;
    background-color: #4b4b4b;
}

#order .howto p {
    font-size: 30px;
    font-weight: lighter;
    line-height: 56px;
    text-align: center;
    color: #eeeeee;
    letter-spacing: -0.06em;
}

#order .breakdown {
    height: 90px;
    background: #ffffff url('../img/order/howto.png') 0 0 no-repeat;
}

#order .breakdown div {
    padding-top: 35px;
    text-align: center;
    padding-right: 70px;
    letter-spacing: -0.05em;
}
