@font-face {
    font-family: 'bebas';
    src: url('font/bebasneue-webfont.eot');
    src: url('font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebasneue-webfont.woff') format('woff'),
         url('font/bebasneue-webfont.ttf') format('truetype'),
         url('font/bebasneue-webfont.svg#bebas') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background-color: #ff9fbe;
}

body {
    background: url('../img/background.jpg') center top no-repeat;
    background-color: #ecd891;
    font-family: 'Georgia', 'times';
    font-style: normal;
    font-size: 18px;
    color: #4e4e4e;
    overflow-y: scroll;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus { outline: none !important; }

a { color: #4b4b4b; }
a:hover { color: #e2507f; text-decoration: none; }

.pink { color: #e2507f; }
.yellow { color: #e0b253; }
.centered { text-align: center; }

#container .shiny {
    color: #ffffff;
    font-family: 'bebas';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}

/*********/
/* Forms */
/*********/

#container form { margin: 0; padding: 0; font-size: 13px; }
#container fieldset { margin: 0; padding: 0; }
#container fieldset legend { border: 0 none; }

#container input[type=text],
#container input[type=email],
#container input[type=password],
#container textarea {
    font-family: 'Georgia', 'times';
    font-style: italic;
    height: auto;

    border: 2px solid #dddddd;
   -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#container .error input[type=text],
#container .error input[type=email],
#container .error input[type=password],
#container .error textarea {
    border-color: #b94a48;
}

.boring, .boring-alert {
    background-color: #ffffff;
    font-style: normal;
    font-size: 70%;
    padding: 20px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

.boring-alert {
    margin: 40px 0;
    padding-top: 15px;
}

.boring > *, .boring-alert > * {
    margin: 0;
}

.boring h1, .boring h2 {
    font-weight: normal;
    font-size: 36px;
}

.boring h1 {
    margin-bottom: 20px;
}

.boring-alert h1 {
    margin: 0 0 5px 0;
    font-family: 'bebas';
    font-weight: normal;
    font-size: 22px;
    color: #e2507f;
}

.boring h2 {
    font-weight: normal;
    font-size: 30px;
    margin: 25px 0 10px 0;
    color: #e2507f;
}

.boring h3 {
    margin: 20px 0 5px 0;
    font-weight: normal;
}

.boring h4 {
    font-weight: normal;
    font-style: italic;
    margin: 20px 0 20px 10px;
}

.boring a, .boring-alert a {
    color: #e2507f;
}

.boring a:hover {
    text-decoration: underline;
}

.boring ul, .boring ol {
    margin-left: 20px;
}

.boring p {
    margin: 0 10px 10px 10px;
}

.boring address {
    margin: 5px 0 0 10px;
}

.boring ul, .boring ol {
    list-style-position: inside;
}

.boring dl dt {
    margin: 0 0 10px 0;
    padding: 5px 20px;
    background: #dddddd;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.boring dl dd {
    padding: 0 20px;
    margin-bottom: 35px;
}

#container {
    width: 986px;
    margin: 0 auto 0 auto;
}

#header {
    height: 120px;
    font-style: italic;
}

#header .header-inner {
    position: relative;
}

#header-logo a {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    background: url('../img/logo.png?0') 0 0 no-repeat;
    display: block;
    height: 109px;
    width: 379px;
}

#header-login {
    width: 576px;
    height: 35px;
    line-height: 32px;
    padding-left: 15px;
    background-color: #4b4b4b;
}

#header-login form {
    display: inline;
}

#header-login form input {
    padding: 2px 6px 1px;
    margin: -3px 0 0 10px;
    width: 120px;
    line-height: 14px;
}

#header-login form button {
    background-color: #e2507f;
    margin-top: -3px;
    margin-right: 5px;
    line-height: 14px;
    padding-left: 2px;
    padding-right: 4px;
    color: #ffffff;
}

#header-login a, #header-login form label {
    color: #eeeeee;
    font-size: 14px;
}

#header-login a:hover {
    color: #e2507f;
}

#header-login .account {
    margin-left: 10px;
}

#header-login .my {
    margin-left: 5px;
}

#header-login i.icon-account {
    margin: -1px 5px 0 0;
    vertical-align: top;
    background: url('../img/account.png') 0 0 no-repeat;
    width: 19px;
    height: 35px;
}

#header-login .shopping-cart {
    margin-left: 10px;
}

#header-login .disconnect {
    margin-left: 15px;
}

#header-login i.icon-shopping-cart {
    margin: -1px 3px 0 0;
    vertical-align: top;
    background: url('../img/shopping_cart.png') 0 0 no-repeat;
    width: 24px;
    height: 35px;
}

#header .fb-like {
    position: static;
    clear: right;
    margin-top: 10px;
}

#header-nav {
    clear: right;
    position: absolute;
    font-family: 'bebas';
    font-style: normal;
    font-size: 20px;
    text-align: right;
    right: 0;
    top: 78px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px;
}

#header-nav a {
    margin-left: 23px;
}

#header-nav a:first-child {
    margin-left: 0;
}

#social {
    font-style: italic;
    background-color: #4b4b4b;
    color: #eeeeee;
    font-size: 14px;
}

#newsletter {
    height: 70px;
    padding: 25px 0 0 30px;
    position: relative;
}

#newsletter label {
    margin-right: 30px;
}

#newsletter .forms {
    height: 44px;
    position: absolute;
    top: 15px;
    left: 260px;
}

#newsletter .forms > input {
    width: 237px;
    padding: 8px 6px;
}

#newsletter .forms > button {
    color: #ffffff;
    font-size: 22px;
    background-color: #e2507f;
    padding: 8px 6px;
    margin: -10px 0 0 8px;
}

#newsletter .forms > button:hover {
    text-decoration: none;
}

#follow-us {
    padding: 25px 0 0 60px;
}

#follow-us span {
    margin: 5px 0 0 20px;
}


#follow-us span a {
    display: inline-block;
    margin-top: -8px;
    margin-left: 40px;
}

#follow-us span a:first-child {
    margin-left: 5px;
}


#footer {
    margin: 15px 0 50px 0;

    font-style: italic;
    height: 225px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 0 0 0 26px;
}

#footer-inner {
    width: 920px;
}

#footer h3 {
    font-size: 22px;
    font-weight: 200;
    margin: 8px 0 3px 0;
    letter-spacing: -0.08em;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul li {
    font-size: 11px;
    margin-bottom: 8px;
}

#secured-payment {
    background: url('../img/secured_payment.png') 0 0 no-repeat;
    width: 232px;
    height: 55px;
}

#delivery-partners {
    background: url('../img/delivery_partners.png?1') 0 0 no-repeat;
    width: 232px;
    height: 55px;
}

