{% extends "mmm/skeleton.html" %}
{% block head_title %}Page non trouvée :-({% endblock %}
{% block meta_description %}Les coffrets MadameAime : enfin un coffret qui plait aux femmes de plus de 45 ans{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>Erreur sur le site MadameAime</h1>

  <p>
    Nous sommes désolés, mais nous n'avons pas pu charger la page demandée.
  </p>

  <p>
  Nous allons tenter de résoudre le problème dans les plus brefs délais.
  <br /> 
  N'hésitez pas à nous informer du problème par email sur
    <a href="mailto:contact@madameaime.com">contact@madameaime.com</a> ou en
    nous laissant un message directement depuis notre rubrique de
    <a href="{% url "contact" %}">contact</a>
  </p>
</div>
{% endblock %}
