{% extends "mmm/skeleton.html" %}
{% block head_title %}Qui sommes nous Madame Aime{% endblock %}
{% block meta_description %}Découvrez qui se cache derrière Madame Aime{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>Qui se cache derrière cette mystérieuse Madame Aime&nbsp;?</h1>

  <div class="centered">
    <img src="{{STATIC_URL}}img/about/top.png" alt="" />
  </div>

  <h2>Il était une fois … Thomas et sa Maman Anne</h2>

  <p>
    Thomas Rousson a fait ses études à l'ESC Marseille. Une fois
    diplômé, il devient consultant en e-commerce et stratégie digitale
    chez Malinéa Conseil puis chez Vente-privee.com. Jamais à cours
    d'idée, il jouera de sa créativité et de ses connaissances dans le
    but de vous émerveiller et de vous surprendre un peu plus chaque
    mois&nbsp;!
  </p>

  <p>
    Sa Maman Anne est ravie de pouvoir mettre ses talents à contribution.
    Tour à tour professeur d'esthétique puis viticultrice, cette experte
    du «&nbsp;beau&nbsp;» et du «&nbsp;bon&nbsp;» était toute indiquée
    pour prendre part à l'aventure&nbsp;! Anne vous fera découvrir et
    tester «&nbsp;la crème&nbsp;» des produits de beauté adaptés aux femmes
    de sa génération.
  </p>

  <h2>Il était une fois … Guillaume et sa Maman Françoise</h2>

  <p>
    Guillaume Rigallaud, diplômé de l'ESC Bordeaux a été chef de projet web
    chez Cdiscount.com avant d'être chargé du webmarketing chez
    EnvoiMoinsCher.com, société spécialiste du transport. Fort de son
    expérience dans ce domaine, il prendra grand soin de vos petits coffrets
    et s'assurera qu'ils vous arrivent dans les meilleures conditions&nbsp;!
  </p>

  <p>
    En vrai gourmand, il aime se régaler en découvrant les bons petits plats
    concoctés par sa Maman Françoise&nbsp;! Pour étonner vos papilles et vous
    faire découvrir de nouvelles recettes, Guillaume n'avait pas à chercher
    bien loin&nbsp;! Françoise est une femme multi casquettes, qui a travaillé
    dans un commerce de fleurs pendant plus de 20 ans, parallèlement à son
    activité dans l'administration, mais qui est également une maîtresse de
    maison et une cuisinière hors pair qui ne manquera pas de vous épater par
    ses astuces.
  </p>

  <h2>Madame Aime c'est aussi&nbsp;</h2>

  <p>
    Julien et Bertrand, qui nous prouvent chaque jour qu'on l'on peut être à la
    fois geek et élégant.
  </p>

  <p>
    Elodie, qui a apporté sa sensibilité et son sens du détail à notre univers
    graphique.
  </p>

  <p>
    Rémi, notre as du pinceau virtuel.
  </p>

  <p>
    Hélène, qui avec sa plume légère manie à la perfection la langue de Molière.
  </p>

  <p>
    Marie, qui s'assure avec le sourire que Madame Aime est en règle.
  </p>

  <p>
    Et de nombreuses personnes qui nous aident et nous soutiennent au quotidien.
    L'aventure ne serait pas la même sans elles&nbsp;: Audrey, Axel, Brice,
    Catherine, Clément, la team DCF, Dominique, la team EMC, Emmanuelle, Georges,
    Hélène, Jean Luc, Jonathan, Michelle, Mohamed, Rémi, Romain, Samuel, Ugo,
    Victoria, Virginie… entre autres&nbsp;!
  </p>
</div>
{% endblock %}
