{% extends "mmm/skeleton.html" %}
{% block head_title %}Marques partenaires de Madame Aime{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/brands.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Découvrez toutes les marques partenaires de Madame Aime{% endblock %}
{% block mmm_content %}
<section id="brands">
  <h1>Les marques</h1>

  <div>
    <h2>Beauté</h2>
    <ul class="thumbnails">
      <li>
        <a href="{% url 'brands/jeanne-m' %}" class="thumbnail">
          <img src="{{STATIC_URL}}img/brands/jeanne-m/logo.png" alt="">
        </a>
      </li>
      <li>
        <a href="{% url 'brands/au-pays-de-la-fleur-d-oranger' %}" class="thumbnail">
          <img src="{{STATIC_URL}}img/brands/au-pays-de-la-fleur-d-oranger/logo.png" alt="">
        </a>
      </li>
      <li>
        <a href="{% url 'brands/secrets-de-miel' %}" class="thumbnail">
          <img src="{{STATIC_URL}}img/brands/secrets-de-miel/logo.png" alt="">
        </a>
      </li>
      <li>
        <a href="{% url 'brands/sous-l-oranger' %}" class="thumbnail">
          <img src="{{STATIC_URL}}img/brands/sous-l-oranger/logo.png" alt="">
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h2>Culinaire</h2>
    <ul class="thumbnails">
      <li>
        <a href="{% url 'brands/newtree' %}" class="thumbnail">
          <img src="{{STATIC_URL}}img/brands/newtree/logo.png" alt="">
        </a>
      </li>
      <li>
        <a href="http://www.marabout.com" target="_blank" class="thumbnail">
          <img src="{{STATIC_URL}}img/brands/marabout/logo.png" alt="">
        </a>
      </li>
      <li>
        <a href="{% url 'brands/comptoir-colonial' %}" class="thumbnail">
          <img src="{{STATIC_URL}}img/brands/comptoir-colonial/logo.png" alt="">
        </a>
      </li>
      <li>
        <a href="http://www.solar.fr" target="_blank" class="thumbnail">
          <img src="{{STATIC_URL}}img/brands/solar-editions/logo.png" alt="">
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
