{% extends "mmm/skeleton.html" %}
{% block head_title %}Le coffret Madame Aime, la bonne idée cadeau qui plait aux femmes{% endblock %}
{% block meta_description %}Offrez à votre maman, femme, amie un coffret cadeau plein de surprises{% endblock %}
{% block mmm_content %}
<section id="index-slideshow">
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="active item one">
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="14" />
          <input type="image" src="{{ STATIC_URL }}img/slides/slide-coffret-vivolta.jpg?0" alt="" />
        </form>
      </div>
      <div class="item two">
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="13" />
          <input type="image" src="{{ STATIC_URL }}img/slides/slide-coffret-promo-phyderma.jpg" alt="" />
        </form>
      </div>
      <div class="item three">
        <a href="{% url "order" %}">
          <img src="{{ STATIC_URL }}img/slides/slide-madameaime-generique.jpg" alt="" />
        </a>
      </div>
    </div>
    <div class="carousel-nav">
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
  </div>
</section>

<section id="index-security" class="row-fluid">
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/lock.png" alt=""/>
    Paiement sécurisé
  </div>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/truck.png" alt=""/>
    Livraison incluse
  </div>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/phone.png" alt=""/>
    01.45.23.29.90
  </div>
</section>

<section id="index-inserts" class="row">
  <div class="span4 story">
    <div class="inner">
    </div>
    <div class="overlay row-fluid">
      <div class="span7">Notre histoire</div>
      <div class="span5"><a class="shiny" href="{% url 'story' %}">Découvrir</a></div>
    </div>
  </div>
  <div class="span4 how-does-it-work">
    <div class="inner">
    </div>
    <div class="overlay row-fluid">
      <div class="span7">Comment ça marche ?</div>
      <div class="span5"><a class="shiny" href="{% url 'how-does-it-work' %}">Découvrir</a></div>
    </div>
  </div>
  <div class="span4 gift">
    <div class="inner">
    </div>
    <div class="overlay row-fluid">
      <div class="span7">Le cadeau idéal</div>
      <div class="span5"><a class="shiny" href="{% url 'offer' %}">Offrir</a></div>
    </div>
  </div>
</section>

<section id="index-brands" class="row-fluid">
  <a class="span3 one" href="{% url 'brands/sous-l-oranger' %}"></a>
  <a class="span3 two" href="{% url 'brands/secrets-de-miel' %}"></a>
  <a class="span3 three" href="{% url 'brands/jeanne-m' %}"></a>
  <a class="span3 four" href="{% url 'brands/au-pays-de-la-fleur-d-oranger' %}"></a>
</section>
{% endblock %}
