{% extends "mmm/skeleton.html" %}
{% block head_title %}Madame Aime, comment ça marche ?{% endblock %}
{% block meta_description %}Achetez de manière sécurisée un cadeau élégant et original pour un, trois ou six mois : beauté, bien-être, déco, maison, surprise, conseils, offres exlcusives...{% endblock %}
{% block mmm_content %}
<section id="how-does-it-work">

  <div class="description">
    <h1>Comment ça marche ?</h1>
    <div class="onetwothree"></div>
    <div class="box one">
      <h3>Je cherche un cadeau</h3>
      <p>Élégant et original</p>
    </div>
    <div class="box two">
      <h3>Je choisis une offre</h3>
      <p>1, 2 ou 3 coffrets</p>
    </div>
    <div class="box three">
      <h3>Je passe commande</h3>
      <p>Rapide et sécurisée</p>
    </div>
    <div class="lady"></div>
    <div class="profit"><a class="shiny" href="{% url 'offer' %}">J'en profite</a></div>
    <div class="info">
      <h2>Un coffret surprise livré à domicile pendant 1, 2 ou 3 mois</h2>
      <ul>
        <li>
	  <h4>Une sélection de 5-6 produits</h4>
	  <p>Beauté, bien-être, culinaire…</p>
        </li>
        <li>
	  <h4>Faites partie de la communauté Madame Aime</h4>
	  <p>(Conseils / Offres exclusives…)</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="gage row-fluid">
    <div class="span4">
      <i class="icon-heart"></i>
      <span class="pink">Délicatement</span> confectionné
      <div class="gage-sep"></div>
    </div>
    <div class="span4">
      <i class="icon-smile"></i>
      <span class="pink">Effet surprise</span> garanti
      <div class="gage-sep"></div>
    </div>
    <div class="span4">
      <i class="icon-gift"></i>
      <span class="pink">Idéal</span> pour (se) faire plaisir !
    </div>
  </div>
</section>
{% endblock %}
