{% extends "mmm/skeleton.html" %}
{% load offerpage %}
{% block head_title %}Commandez le coffret de référence pour les femmes{% endblock %}
{% block meta_description %}Avec Madame Aime, offrez un coffret cadeau original plein de surprises{% endblock %}
{% block mmm_content %}
<section id="order-slideshow">
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="active item">
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="19" />
          <input type="image" src="{{ STATIC_URL }}img/slides/slide-jardin-reduc.jpg" alt="" />
        </form>
      </div>
      <div class="item">
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="15" />
          <input type="image" src="{{ STATIC_URL }}img/slides/slide-vivolta.png" alt="" />
        </form>
      </div>
      <div class="item">
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="16" />
          <input type="image" src="{{ STATIC_URL }}img/slides/slide-2-coffrets-jardin.png" alt="" />
        </form>
      </div>
    </div>
    <div class="carousel-nav">
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <p>
    <!-- <a href="{% url "boxes" %}">Voir le contenu de nos coffrets</a> -->
  </p>
</section>

<section id="order-products" class="row-fluid">
  <div class="span6">
    <div class="what">
      <div class="am">Économisez</div>
      <div class="stram">5€</div>
      <div class="gram">avec notre pack</div>
      <div class="pic">2 coffrets Mon Jardin !</div>

      <a href="{% url "boxes" %}">Voir nos coffrets</a>
    </div>
    <div class="info">
      <h2>{{ offers.sale_1.title }}</h2>
      <div class="content">
	{{ offers.sale_1.content | linebreaksbr }}
      </div>
      <div> </div>
      <div class="price">{{ offers.sale_1.sale.price }}€</div>
      <img src="{{ STATIC_URL }}img/order/badge1.png" alt="5€ offerts" />
      <div class="delivery">{{ offers.sale_1.price_comment }}</div>
      <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
	{% csrf_token %}
	<input type="hidden" name="sale_id" value="{{ offers.sale_1.sale.pk }}" />
	<input type="image" src="{{ STATIC_URL }}img/order/order.png" alt="Commander"/>
      </form>
    </div>
  </div>
  <div class="span6">
    <div class="what">
      <div class="am">Économisez</div>
      <div class="stram">10€</div>
      <div class="gram">avec notre pack</div>
      <div class="pic">2 coffrets Beauté & Jardin !</div>

      <a href="{% url "boxes" %}">Voir nos coffrets</a>
    </div>
    <div class="info">
      <h2>{{ offers.sale_2.title }}</h2>
      <div class="content">
	{{ offers.sale_2.content | linebreaksbr }}
      </div>
      <div> </div>
      <div class="price">{{ offers.sale_2.sale.price }}€</div>
      <img src="{{ STATIC_URL }}img/order/badge2.png" alt="10€ offerts" />
      <div class="delivery">{{ offers.sale_2.price_comment }}</div>
      <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
	{% csrf_token %}
	<input type="hidden" name="sale_id" value="{{ offers.sale_2.sale.pk }}" />
	<input type="image" src="{{ STATIC_URL }}img/order/order.png" alt="Commander"/>
      </form>
    </div>
  </div>
</section>

<section id="index-security" class="row-fluid">
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/lock.png" alt=""/>
    Paiement sécurisé
  </div>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/truck.png" alt=""/>
    Livraison incluse
  </div>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/phone.png" alt=""/>
    01.45.23.29.90
  </div>
</section>

<section id="order">
  <div class="howto">
    <p>Comment procéder ?</p>
  </div>
  <div class="breakdown row-fluid">
    <div class="span4">Je choisis l'offre</div>
    <div class="span4">Je passe commande</div>
    <div class="span4">Le coffret est livré à domicile</div>
  </div>
</section>
{% endblock %}
