{% extends "mmm/skeleton.html" %}
{% load offerpage %}
{% block head_title %}Commandez le coffret de référence pour les femmes{% endblock %}
{% block meta_description %}Avec Madame Aime, offrez un coffret cadeau original plein de surprises{% endblock %}
{% block mmm_content %}
<section id="order-slideshow">
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="active item one">
        <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
          {% csrf_token %}
          <input type="hidden" name="sale_id" value="14" />
          <input type="image" src="{{ STATIC_URL }}img/slides/slide-coffret-vivolta.jpg?0" alt="" />
        </form>
      </div>
    </div>
    <div class="carousel-nav">
      <span class="active"></span>
    </div>
  </div>

  <p>
    <a href="{% url "boxes" %}">Voir le contenu de nos coffrets</a>
  </p>
</section>

<section id="order-products" class="row-fluid">
  <div class="span6">
    <div class="what">
      <div class="am">Je m’abonne</div>
      <div class="stram">{{ offers.sale_1.sale.price }}€</div>
      <div class="gram">par coffret</div>

      <p>
        Résiliable à tout moment,<br />
        sans engagement de durée.
      </p>

      <a href="{% url "boxes" %}">Voir nos coffrets</a>
    </div>
    <div class="info">
      <h2>{{ offers.sale_1.title }}</h2>
      <div class="content">
	{{ offers.sale_1.content | linebreaksbr }}
      </div>
      <div class="price">{{ offers.sale_1.sale.price }}€</div>
      <div class="insteadof">Au lieu de <s>24,90€</s></div>
      <div class="delivery">{{ offers.sale_1.price_comment }}</div>
      <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
	{% csrf_token %}
	<input type="hidden" name="sale_id" value="{{ offers.sale_1.sale.pk }}" />
	<input type="image" src="{{ STATIC_URL }}img/order/subscribe.png" alt="S’abonner"/>
      </form>
    </div>
  </div>
  <div class="span6">
    <div class="what">
      <div class="am">Économisez</div>
      <div class="stram">10€</div>
      <div class="gram">avec notre pack</div>
      <div class="pic">3 coffrets !</div>

      <a href="{% url "boxes" %}">Voir nos coffrets</a>
    </div>
    <div class="info">
      <h2>{{ offers.sale_2.title }}</h2>
      <div class="content">
	{{ offers.sale_2.content | linebreaksbr }}
      </div>
      <div class="price">{{ offers.sale_2.sale.price }}€</div>
      <img src="{{ STATIC_URL }}img/order/badge.png" alt="10€ offerts" />
      <div class="insteadof">Au lieu de <s>74,70€</s></div>
      <div class="delivery">{{ offers.sale_2.price_comment }}</div>
      <form method="post" action="{% url 'emarket:shopping-cart.add' %}">
	{% csrf_token %}
	<input type="hidden" name="sale_id" value="{{ offers.sale_2.sale.pk }}" />
	<input type="image" src="{{ STATIC_URL }}img/order/order.png" alt="Commander"/>
      </form>
    </div>
  </div>
</section>

<section id="index-security" class="row-fluid">
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/lock.png" alt=""/>
    Paiement sécurisé
  </div>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/truck.png" alt=""/>
    Livraison incluse
  </div>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/homepage/phone.png" alt=""/>
    01.45.23.29.90
  </div>
</section>

<section id="order">
  <div class="howto">
    <p>Comment procéder ?</p>
  </div>
  <div class="breakdown row-fluid">
    <div class="span4">Je choisis l'offre</div>
    <div class="span4">Je passe commande</div>
    <div class="span4">Le coffret est livré à domicile</div>
  </div>
</section>
{% endblock %}
