{% extends "mmm/skeleton.html" %}
{% block head_title %}L'histoire de Madame Aime{% endblock %}
{% block meta_description %}Madame Aime, c'est d'abord l'histoire de 2 amis qui voulaient faire plaisir à leur maman{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>D'où vient Madame Aime ?</h1>
  <h2>
    Madame Aime, c'est d'abord l'histoire de 2 amis qui voulaient
    faire plaisir à leur maman.
  </h2>

  <img src="{{STATIC_URL}}img/story/image.png"
       style="float: left; padding-right: 15px;" />

  <p>
    Tout commence par une conversation anodine entre deux amis
    (Guillaume et Thomas)&nbsp;: «&nbsp;Mais comment faire un cadeau
    original à sa Maman&nbsp;?&nbsp;»
  <p>

  <p>
    Plus largement, comment surprendre une femme moderne et exigeante
    en étant sûr de faire plaisir&nbsp;?
  </p>

  <p>
    Peu à peu, Guillaume et Thomas se rendent compte qu'ils sont loin
    d'être des cas isolés&nbsp;! Beaucoup de leurs amis se heurtent aux
    mêmes difficultés.
  </p>

  <p>
    Puis en observant le succès florissant des beauty box auprès de leurs
    soeurs et de leurs amies, ravies de recevoir chaque mois une boîte
    pleine de surprises adaptées à leur âge et à leurs goûts, ils
    s'interrogent&nbsp;: «&nbsp;Mais pourquoi nos mamans
    n'auraient-elles pas droit à leur propre coffret&nbsp;?&nbsp;»
  </p>

  <p>
    Ni une, ni deux, les voilà partis pour une formidable aventure…<br />
    Il ne restait plus qu'un détail à régler&nbsp;: «&nbsp;Comment concevoir
    un coffret adapté au mode de vie de ces femmes sans parfaitement les
    connaître et comprendre leurs goûts&nbsp;»&nbsp;? Pour deux garçons,
    l'enjeu était de taille&nbsp;!
  </p>

  <p>
    <em>«&nbsp;Allo Maman …&nbsp;»</em><br />Il suffisait de demander&nbsp;!
    Qui de plus indiqué pour se joindre au projet&nbsp;? Le tour est joué,
    une nouvelle équipe s'est formée, prête à vous envoyer chaque mois du
    bonheur en boîte&nbsp;!
  </p>

  <p>
    L'aventure Madame Aime est lancée&nbsp;!
  </p>
</div>
{% endblock %}
