{% extends "mmm/skeleton.html" %}
{% block head_title %}Crème main réparatrice par Phyderma{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/brands.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Découvrez Phyderma marque partenaire de MadameAime{% endblock %}
{% block mmm_content %}
<section id="brand">
  <header><img src="{{STATIC_URL}}img/brands/phyderma/creme-mains-reparatrice/header.png" alt="" /></header>
  <div class="row-fluid">
    <div class="span8 left">
      <div class="description">
        <h1>Phyderma</h1>
        <p>
          Phyderma propose des produits à base d’ingrédients actifs
          naturels. Ses trois principes sont :
          <ul>
            <li>Innovation & Créativité</li>
            <li>Qualité</li>
            <li>Efficacité</li>
          </ul>
        </p>
        <p>
          Pour en savoir plus sur Phyderma découvrez la page MadameAime
          Phyderma
        </p>
        <p>
          <b>MadameAime Phyderma : Crème mains réparatrice protection
          hiver</b>
        </p>
        <p>
          Parce que l’hiver tarde encore à partir, MadameAime a décidé,
          ce mois-ci, d'apporter douceur et soin à vos mains en vous
          faisant découvrir la crème mains réparatrice protection hiver
          de Phyderma.
        </p>
        <p>
          Avec sa texture veloutée, riche en gelée royale et en beurre
          de karité, elle assure la régénération des cellules et protège
          tout en reconditionnant les épidermes les plus abîmés.
        </p>
        <p>
          La propolis et l'extrait de miel vont adoucir et calmer les
          irritations de votre peau. Un soin idéal pour les mains
          matures à tendance sèche.
        </p>
        <p>
          A utiliser aussi souvent  que nécessaire  en remontant sur le
          poignet.
        </p>
        <p>
          Pour en savoir plus sur Phyderma :
          <a href="http://www.phyderma.fr" target="_blank">www.phyderma.fr</a>
        </p>
      </div>
      <div class="comments">
        <h2>Donnez-nous votre avis !</h2>
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="span4 right">
      <div class="visual">
        <h2>Crème mains réparatrice protection hiver</h2>
        <p>
          <img src="{{STATIC_URL}}img/brands/phyderma/creme-mains-reparatrice/image.png" alt="Crème mains réparatrice" /><br />
          <small>Contenance : 75ml</small>
        </p>
        <div class="order row-fluid">
          <div class="span5">
            <span class="price">14,90€</span>
          </div>
          <div class="span6">
            <a target="_blank" class="shiny button" href="http://www.phyderma.fr/corps/379-creme-mains-reparatrice-protection-hiver.html">
              Commander</a>
            <small>sur <a href="http://www.phyderma.com">www.phyderma.com</a></small>
          </div>
        </div>
      </div>
      <div class="facebook">
        <div class="fb-container">
          <div class="fb-like-box"
               data-href="https://www.facebook.com/phyderma"
               data-width="280"
               data-height="320"
               data-show-faces="true"
               data-border-color="red"
               data-stream="false"
               data-header="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var disqus_shortname = 'madameaime';
  var disqus_url = 'http://www.madameaime.com/marques/phyderma/creme-mains-reparatrice';
  var disqus_config = function () {
     this.language = "fr";
  };

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
