{% extends "mmm/skeleton.html" %}
{% block head_title %}Crème main réparatrice par Phyderma{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/brands.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Découvrez Phyderma marque partenaire de MadameAime{% endblock %}
{% block mmm_content %}
<section id="brand">
  <header><img src="{{STATIC_URL}}img/brands/phyderma/soin-de-jour-revitalisant/header.png" alt="" /></header>
  <div class="row-fluid">
    <div class="span8 left">
      <div class="description">
        <h1>Phyderma</h1>
        <p>
          
        </p>
      </div>
      <div class="comments">
        <h2>Donnez-nous votre avis !</h2>
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="span4 right">
      <div class="visual">
        <h2>Soin de jour revitalisant Royalessence</h2>
        <p>
          <img src="{{STATIC_URL}}img/brands/phyderma/soin-de-jour-revitalisant/image.png" alt="Soin de jour revitalisant" /><br />
          <small>Contenance : 50ml</small>
        </p>
        <div class="order row-fluid">
          <div class="span5">
            <span class="price">24,90€</span>
          </div>
          <div class="span6">
            <a target="_blank" class="shiny button" href="http://www.phyderma.fr/visage/340-soin-de-jour-revitalisant-royalessence.html">
              Commander</a>
            <small>sur <a href="http://www.phyderma.com">www.phyderma.com</a></small>
          </div>
        </div>
      </div>
      <div class="facebook">
        <div class="fb-container">
          <div class="fb-like-box"
               data-href="https://www.facebook.com/phyderma"
               data-width="280"
               data-height="320"
               data-show-faces="true"
               data-border-color="red"
               data-stream="false"
               data-header="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var disqus_shortname = 'madameaime';
  var disqus_url = 'http://www.madameaime.com/marques/phyderma/soin-de-jour-revitalisant';
  var disqus_config = function () {
     this.language = "fr";
  };

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
