{% extends "mmm/skeleton.html" %}
{% block head_title %}Lait corps ultra fondant par Oliv’{% endblock %}
{% block meta_description %}Découvrez Oliv’ marque partenaire de MadameAime{% endblock %}
{% block mmm_content %}
<section id="brand">
  <header><img src="{{ STATIC_URL }}img/brands/oliv/lait-corps-ultra-fondant/header.png" alt="" /></header>
  <div class="row-fluid">
    <div class="span8 left">
      <div class="description">
        <h1>Oliv’</h1>
        <p>
          Oliv’, c’est l’histoire de Ketty et Laurent Baussan, un couple
          de passionnés de l’arbre éternel : l’olivier.
        </p>
        <p>
          Souhaitant mettre à profit ses vertus antiâge, ils ont créé
          une gamme complète de produits bios dont l’extrait de feuilles
          d’oliviers est le principe actif majeur.
        </p>
        <p>
          L’oléoeuropeïne et les polyphénols sont présents naturellement
          dans la feuille d’olivier. Testée pour ses efficacités
          cosmétiques antiradicalaire et anti-âge, elle est
          majoritairement utilisée dans toutes leurs formules.
        </p>
        <p>
          <b>MadameAime by Vivolta : Lait corps ultra fondant</b>
        </p>
        <p>
          Elaboré pour hydrater en profondeur et pour protéger votre
          peau, le Lait Corps Ultra Fondant procure une vraie sensation
          de bien-être.<br />
          Il est nourrissant, restructurant et consolide la production
          du collagène de la peau.<br />
          Il renforce et protège le film hydrolipidique pour apporter
          douceur et souplesse tout au long de la journée.
        </p>
        <p>
          Appliquer le Lait Corps en fine couche sur une peau sèche.
        </p>
        <p>
          Pour en savoir plus sur Oliv’ :
          <a href="http://www.oliv-laclaree.com" target="_blank">www.oliv-laclaree.com</a>
        </p>
      </div>
      <div class="comments">
        <h2>Donnez-nous votre avis !</h2>
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="span4 right">
      <div class="visual">
        <h2>Lait corps ultra fondant</h2>
        <p>
          <img src="{{ STATIC_URL }}img/brands/oliv/lait-corps-ultra-fondant/image.png" alt="" /><br />
          <small>Contenance : 30 ml</small>
        </p>
        <div class="order row-fluid">
          <div class="span5">
            <span class="price">4€</span>
          </div>
          <div class="span7">
            <a target="_blank" href="http://www.oliv-laclaree.com">
              <img src="{{ STATIC_URL }}img/brands/new_order.png" alt="Commander" />
            </a>
          </div>
        </div>
        <p class="clearfix">
          Commander sur
          <a href="http://www.oliv-laclaree.com" target="_blank">www.oliv-laclaree.com</a>
        </p>
      </div>
      <div class="facebook">
        <div class="fb-container">
          <div class="fb-like-box"
               data-href="https://www.facebook.com/clareecosmetique"
               data-width="280"
               data-height="320"
               data-show-faces="true"
               data-border-color="red"
               data-stream="false"
               data-header="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var disqus_shortname = 'madameaime';
  var disqus_url = 'http://www.madameaime.com/marques/oliv/lait-corps-ultra-fondant';
  var disqus_config = function () {
     this.language = "fr";
  };

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
