{% extends "mmm/skeleton.html" %}
{% block head_title %}Regénération de votre mot de passe Madame Aime{% endblock %}
{% block meta_description %}Regénération de votre mot de passe Madame Aime{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>Regénération de votre mot de passe</h1>

  <p>
    Dernière étape avant de pouvoir vous connecter sur votre compte ! <br />
    Veuillez entrer deux fois votre nouveau mot de passe.
  </p>

  <form class="form form-horizontal" method="post" action="{% url "password.update" %}?secret={{secret}}&mail={{mail}}">

    {% csrf_token %}

    <div class="control-group{% if form.password.errors %} error{% endif %}">
      <label class="control-label" for="{{form.password.id_for_label}}">Votre nouveau mot de passe *</label>
      <div class="controls">
        <input type="password" class="input-xlarge" name="{{form.password.html_name}}" id="{{form.password.id_for_label}}" value="{{form.password.value|default_if_none:""}}" />
      </div>
    </div>

    <div class="control-group{% if form.confirm.errors %} error{% endif %}">
      <label class="control-label" for="{{form.confirm.id_for_label}}">Confirmation du mot de passe *</label>
      <div class="controls">
        <input type="password" class="input-xlarge" name="{{form.confirm.html_name}}" id="{{form.confirm.id_for_label}}" value="{{form.confirm.value|default_if_none:""}}" />
      </div>
    </div>


    <div class="control-group">
      <div class="controls">
	      <button type="submit" class="btn">Regénérez votre mot de passe</button>
      </div>
    </div>
  </form>

</div>
{% endblock %}
