{% extends "mmm/skeleton.html" %}
{% block head_title %}Qui sommes nous Madame Aime{% endblock %}
{% block meta_description %}Découvrez qui se cache derrière Madame Aime{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>Madame Aime, c'est l'aventure de 2 amis de longue date… et de leurs mamans !</h1>

  <hr />

  <h2>Anne &amp; Thomas</h2>

  <p>Anne a eu une carrière mêlée de senteurs et de tanins. Elle a été professeur d'esthétique mais aussi viticultrice pendant de nombreuses années. En spécialiste de l'univers de la cosmétique, pour Madame Aime, elle vous fera découvrir et tester la crème des produits de beauté adaptés aux femmes de sa génération. </p>

  <p>Thomas Rousson, diplômé de l'ESC Marseille, a été consultant en e-commerce et stratégie digitale chez Malinea Conseil avec Catherine Barba, puis au sein du groupe <a href="http://www.vente-privee.com/">Vente-privee.com</a>.  Pour Madame Aime, il s'occupera de confectionner un coffret qui vous émerveillera et de vous surprendre un peu plus chaque mois.</p>

  <hr />
  <h2>Françoise &amp; Guillaume</h2>

  <p>Françoise est une femme multi casquettes, travaillant dans l'administration et ayant géré un commerce de fleurs pendant plus de 20 ans. En véritable maitresse de maison et cuisinière hors pair, pour Madame Aime, elle vous fera découvrir de nouvelles saveurs qui étonneront vos papilles.</p>

  <p>Guillaume Rigallaud, diplômé de l'ESC Bordeaux, a été chef de projet web chez <a href="http://www.cdiscount.com/">Cdiscount.com</a> avant de s'occuper du webmarketing chez <a href="http://www.envoimoinscher.com/">EnvoiMoinsCher.com</a>. Pour Madame Aime il fait en sorte que vos coffrets soient délicatement confectionnés et arrivent chez vous dans les meilleures conditions.</p>

  <hr />
  <h2>Madame Aime c'est aussi :</h2>

  <p>Julien et Bertrand, qui nous prouvent chaque jour qu'on l'on peut être à la fois geek et élégant.</p>

  <p>Elodie, qui a apporté sa sensibilité et son sens du détail à notre univers graphique.</p>

  <p>Marie, qui s'assure avec le sourire que Madame Aime est en règle.</p>

  <p>Et de nombreuses personnes qui nous aident et nous soutiennent au quotidien, l'aventure ne serait pas la même sans elles : Audrey, Axel, Brice, Catherine, Clément, la team DCF, Dominique, la team EMC, Emmanuelle, Georges, Hélène, Jean Luc, Jonathan, Michelle, Mohamed, Rémi, Romain, Samuel, Ugo, Victoria, Virginie… entre autres !</p>
</div>
{% endblock %}
