{% extends "mmm/skeleton.html" %}
{% block head_title %}Si vous avez une question, contactez-nous !{% endblock %}
{% block meta_description %}Une question sur l'envoi de nos coffrets, le paiement, nos partenaires, etc., contactez-nous !{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>Contactez-nous !</h1>

  {% if success %}
  <div class="alert alert-success">
  Votre message a bien été pris en compte. Nous vous répondrons par email dans les plus brefs délais.
  </div>
  {% else %}
  <p>Pour toute question, merci de nous contacter via ce formulaire. Nous vous répondrons par email dans les plus brefs délais.</p>

  <form class="form-horizontal" method="post" action="{% url "contact" %}">
    {% csrf_token %}
    {% include "contact_input.html" with field_name="Prénom *" field=form.firstname %}
    {% include "contact_input.html" with field_name="Nom *" field=form.lastname %}
    {% include "contact_input.html" with field_name="Email *" field=form.email %}
    {% include "contact_input.html" with field_name="Numéro de commande" field=form.command %}
    {% include "contact_input.html" with field_name="Sujet *" field=form.subject %}
    {% include "contact_input.html" with field_name="Message *" field=form.message field_type="textarea" %}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Envoyer</button>
        </div>
    </div>
    <p>*Champs obligatoires</p>
  </form>
  {% endif %}
</div>
{% endblock %}
