{% extends "mmm/skeleton.html" %}
{% block head_title %}Options de livraison proposés par Madame Aime{% endblock %}
{% block meta_description %}Les coffrets Madame Aime sont livrés directement chez vous en partenariat avec La Poste{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>Frais et délais de livraison</h1>
  <p>
    Afin d'assurer une qualité de service optimale, Madame Aime a choisi
    <a href="http://www.laposte.net/">La Poste</a> comme partenaire transport.
  </p>
  <p>
    Tous nos coffrets sont envoyés simultanément entre le 12 et le 14 du mois.
  </p>
  <p>
    Les colis arriveront donc chez le destinataire final, sauf cas exceptionnel,
    entre le 17 et le 21 de chaque mois, en fonction de son lieu d'habitation.
  </p>
  <p>
    Dés que votre colis est envoyé, vous pouvez suivre son évolution sur
    le suivi <a href="http://www.colissimo.fr/portail_colissimo/suivre.do">La Poste</a>.
  </p>
</div>
{% endblock %}
