{% extends "mmm/skeleton.html" %}
{% block mmm_content %}
<section id="index-slideshow">
	<div class="carousel slide">
		<div class="carousel-inner">
		<div class="active item one"></div>
		<div class="item two">
			<p>Le 1<sup>er</sup> coffret spécialement conçu pour <span class="pink">Madame</span></p>
		</div>
	</div>
	<div class="fade"></div>
		<div class="carousel-nav">
			<span class="active"></span>
			<span></span>
		</div>
	</div>
	<div id="index-slideshow-overlay">
		<div class="inner">
			<p class="recipe">la recette du</p>
			<p class="gift">cadeau idéal</p>
			<p class="box">Un coffret élégant livré à domicile contenant</p>
			<p class="selection">Une sélection de 5-6 produits</p>
			<ul class="types">
				<li>beauté / bien-être</li>
				<li>culinaires</li>
				<li>déco / maison</li>
				<li>surprise</li>
			</ul>
			<div class="equals">=</div>
			<div class="ml">
				<div class="madam">Madame</div>
				<div class="loves">Aime</div>
			</div>
			<p class="price">24,90 €</p>
			<p class="shipping">livraison incluse</p>
		</div>
		<a href="" class="more shiny">En savoir plus</a>
	</div>
</section>

<section id="index-gage" class="row-fluid">
	<div class="span4">
		<i class="icon-heart"></i>
		<span class="pink">Délicatement</span> confectionné
		<div class="gage-sep"></div>
	</div>
	<div class="span4">
		<i class="icon-smile"></i>
		<span class="pink">Effet surprise</span> garanti
		<div class="gage-sep"></div>
	</div>
	<div class="span4">
		<i class="icon-gift"></i>
		<span class="pink">Idéal</span> pour Noël
	</div>
</section>

<section id="index-inserts" class="row">
	<div class="span4 story">
		<div class="inner">
		</div>
		<div class="overlay row-fluid">
			<div class="span7">Notre histoire</div>
			<div class="span5"><a class="shiny" href="">Découvrir</a></div>
		</div>
	</div>
	<div class="span4 how-does-it-work">
		<div class="inner">
		</div>
		<div class="overlay row-fluid">
			<div class="span7">Comment ça marche ?</div>
			<div class="span5"><a class="shiny" href="">Découvrir</a></div>
		</div>
	</div>
	<div class="span4 gift">
		<div class="inner">
		</div>
		<div class="overlay row-fluid">
			<div class="span7">Le cadeau idéal</div>
			<div class="span5"><a class="shiny" href="">Offrir</a></div>
		</div>
	</div>
</section>
{% endblock %}
