<section id="how-does-it-work">
  <h1>Comment ça marche ?</h1>
  <div class="onetwothree"></div>
  <div class="box one">
    <h3>Je cherche un cadeau</h3>
    <p>Élégant et original</p>
  </div>
  <div class="box two">
    <h3>Je choisis une offre</h3>
    <p>1, 3 ou 6 coffrets</p>
  </div>
  <div class="box three">
    <h3>Je passe commande</h3>
    <p>Rapide et sécurisée</p>
  </div>
  <div class="lady"></div>
  <div class="profit"><a class="shiny" href="{url_resolver::get('offer.php')}">J'en profite</a></div>
  <div class="info">
    <h2>Un coffret surprise livré à domicile pendant 1, 3 ou 6 mois</h2>
    <ul>
      <li>
        <h4>Une sélection de 5-6 produits</h4>
        <p>Beauté, bien-être, culinaires, déco/maison, surprise…</p>
      </li>
      <li>
        <h4>Faites partie de la communauté Madame Aime</h4>
        <p>(Conseils / Offres exclusives…)</p>
      </li>
    </ul>
  </div>
</section>

<section id="index-gage" class="row-fluid">
  <div class="span4">
    <i class="icon-heart"></i>
    <span class="pink">Délicatement</span> confectionné
    <div class="gage-sep"></div>
  </div>
  <div class="span4">
    <i class="icon-smile"></i>
    <span class="pink">Effet surprise</span> garanti
    <div class="gage-sep"></div>
  </div>
  <div class="span4">
    <i class="icon-gift"></i>
    <span class="pink">Idéal</span> pour Noël
  </div>
</section>
