{% extends "mmm/skeleton.html" %}
{% block head_title %}Recrutement chez Madame Aime{% endblock %}
{% block meta_description %}Consultez les offres d'emploi de Madame Aime{% endblock %}
{% block mmm_content %}
<section id="jobs" class="boring">
  <h1>Stage – Chef de projet Marketing</h1>

  <h2>Le contexte</h2>
  <p>Lancée fin 2012, Madame Aime est le <a href="{% url 'box' %}">1<sup>er</sup> coffret
      cadeau</a> destiné aux femmes de + de 40 ans.
    Le 1er coffret a été lancé avec succès en Décembre 2012.<br />
    Le marché des box par abonnement étant très dynamique en France, les 6 prochains
    mois représentent un enjeu capital pour Madame Aime.</p>

  <h2>Description du poste</h2>
  <p>Encadré par <a href="{% url 'about' %}">les 2 fondateurs</a> de l’entreprise,
    vous serez au cœur des enjeux d’une start
    up en croissance et serez amené à réfléchir, imaginer et mettre en place des actions de
    communication variées : évènements, relation presse, opération avec des blogueuses,
    actions sur les réseaux sociaux, alimentation du blog…<br />
    Vous participerez à la construction de l’offre partenaire et serez force de proposition
    afin d’apporter à l’entreprise de nouvelles idées dans son développement.</p>

  <p><b>Missions</b>
    <ul>
      <li>Développement/construction de l’offre commerciale</li>
      <li>Gestion des relations avec nos partenaires (Marques, Blogs…)</li>
      <li>Coordination d’opérations de communication (RP, web, évènement)</li>
      <li>Gestion du blog et des réseaux sociaux</li>
      <li>Gestion du site</li>
      <li>Benchmarking</li>
    </ul>
  </p>

  <p>En fonction du profil du/de la candidat(e), il/elle sera amené(e) à prendre des
    responsabilités croissantes dans ses différentes missions</p>

  <h2>Compétences</h2>

  <p>Le/La candidat(e) sera avant tout extrêmement motivé(e) par le fait de rejoindre une
    startup en phase de croissance et de participer à cette aventure.<br />
    Vous etes issu(e) d’une formation supérieure de type école de commerce ou
    universitaire spécialisée en commerciale, communication digitale ou marketing.
  </p>

  <ul>
    <li>Forte sensibilité entrepreneuriale</li>
    <li>Sens du relationnel très développé</li>
    <li>Rigueur, autonomie et sens des responsabilités</li>
    <li>Capable de s’organiser et d'être force de proposition (Être créatif est un plus)</li>
    <li>Capacité rédactionnelles</li>
  </ul>

  <h2>Le plus :</h2>

  <p>Affinité pour le secteur de la cosmétique et du web<br />
    <b>Des compétences&nbsp;:</b> Photoshop</p>

  <p>Et parce que c'est toujours plus sympa de se lever le matin pour aller travailler dans une
    bonne ambiance, nous recherchons quelqu’un d’agréable et de bonne humeur. Votre
    personnalité fera toute la différence&nbsp;!</p>

  <p>
    <b>Disponibilité&nbsp;:</b> Dès que possible&nbsp;!<br />
    <b>Gratification&nbsp;:</b> 436€
  </p>

  <p>Stage conventionné, plutôt stage de fin d’étude.</p>

  <p><b>Lieu&nbsp;:</b> Paris 14<sup>ème</sup></p>

  <p>Pour postuler, merci d’envoyer votre CV et lettre de motivation à
    <a href="mailto:recrutement@madameaime.com">recrutement@madameaime.com</a>.</p>

</section>
{% endblock %}
