{% extends "mmm/skeleton.html" %}
{% block head_title %}Mentions légales Madame Aime{% endblock %}
{% block meta_description %}Madame Aime aussi la loi et vous présente ses Mentions Légales{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>Mentions légales – Madame Aime par 1R2Box</h1>

  <p>
    <strong>
      Le site Internet <a href="http://www.madameaime.com">www.madameaime.com</a> est édité par la société
      par action simplifiée 1R2Box (ci-après « la Société ») au capital social de 5 000 euros dont le siège
      social est 71 boulevard de Strasbourg 75010 Paris, inscrite au registre du Commerce et des Sociétés
      de Paris sous le numéro 789 138 872 R.C.S Paris.
    </strong>
  </p>

  <p>
    Ce site est hébergé par :<br />
    Online SAS - BP 436 - 75366 Paris CEDEX 08 - RCS Paris B 433 115 904
  </p>

  <p>
    Ce site a été enregistrée à la <a href="http://www.cnil.fr/">CNIL</a> sous le numéro 1631779.
  </p>

  <p>
    Conformément à la loi « Informatique et Libertés » N° 78-17 du 6 Janvier 1978, vous bénéficiez
    d’un droit d’accès, de rectification et d’opposition que vous pouvez exercer en vous adressant à :
    <a href="mailto:contact@madameaime.com">contact@madameaime.com</a> ou par courrier à l'adresse
    suivante :
  </p>

  <address>
    <strong>1R2Box SAS</strong><br />
    71 boulevard de Strasbourg<br />
    75010 Paris
  </address>

  <h2>Propriété Intellectuelle</h2>

  <p>
    Le contenu produit sur ce site internet est protégé par la législation en vigueur
    (article L.122-4 du code de la propriété intellectuelle) et sa reproduction ou sa diffusion,
    sans autorisation expresse écrite de 1R2Box SAS, constitue une contrefaçon passible de sanctions
    pénales.
  </p>

  <h2>Conception graphique</h2>

  <p>
    <a href="http://www.antidote-studio.fr/">http://www.antidote-studio.fr</a>
  </p>

  <p>
    Crédits : Fotolia
  </p>
</div>
{% endblock %}
