{% extends "mmm/skeleton.html" %}
{% load offerpage %}
{% block head_title %}Offrez le coffret de référence pour les femmes{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/offer.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Avec Madame Aime, offrez un coffret cadeau original plein de surprises{% endblock %}
{% block mmm_content %}

<section id="offer">
  <div class="products">
    <h1>Édition limitée</h1>

    <div class="happy">Toutes les occasions sont bonnes pour (se) faire plaisir !</div>

    <div class="description">
      <p class="l1">Offrez un cadeau</p>
      <p class="l2">vraiment original</p>
      <p class="l3">une sélection de</p>
      <p class="l4">5 à 6 produits</p>
      <p class="l5">beauté, culinaires, déco…</p>
    </div>

    <div class="lady">
		</div>
    <ul>
      <li class="one">
				<h2>{{offers.sale_1.title}}</h2>
				<h3>{{offers.sale_1.subtitle}}</h3>
				<ul class="details">
					{{offers.sale_1.content|nl2li}}
				</ul>
				<p class="price">{{offers.sale_1.sale.price}} €</p>
				<p class="delivery">{{offers.sale_1.price_comment}}</p>
				<div class="button">
					<form method="post" action="">
						<input type="hidden" name="ref" value="{$box_1_month->ref}" />
						<button class="btn-link shiny" type="submit">Commander</button>
					</form>
				</div>
      </li>

      <li class="three">
				<h2>{{offers.sale_2.title}}</h2>
				<h3>{{offers.sale_2.subtitle}}</h3>
				<ul class="details">
					{{offers.sale_2.content|nl2li}}
				</ul>
				<p class="price">{{offers.sale_2.sale.price}} €</p>
				<p class="delivery">{{offers.sale_2.price_comment}}</p>
				<div class="button">
					<form method="post" action="">
						<input type="hidden" name="ref" value="{$box_3_months->ref}" />
						<button class="btn-link shiny" type="submit">Commander</button>
					</form>
				</div>
			</li>

      <li class="six">
				<h2>{{offers.sale_3.title}}</h2>
				<h3>{{offers.sale_3.subtitle}}</h3>
				<ul class="details">
					{{offers.sale_3.content|nl2li}}
				</ul>
				<div class="badge"></div>
				<p class="price">{{offers.sale_3.sale.price}} €</p>
				<p class="delivery">{{offers.sale_3.price_comment}}</p>
				<div class="button">
					<form method="post" action="">
						<input type="hidden" name="ref" value="{$box_6_months->ref}" />
						<button class="btn-link shiny" type="submit">Commander</button>
					</form>
				</div>
      </li>
    </ul>
    <p class="hurry">
			{{offers.hurry_text}}
    </p>
	</div>
	<div class="howto">
		<p>Comment procéder ?</p>
	</div>
	<div class="breakdown row-fluid">
		<div class="span4">Je choisis l'offre</div>
		<div class="span4">Je passe commande</div>
		<div class="span4">Le coffret est livré à domicile</div>
	</div>
</section>
{% endblock %}
