{% extends "mmm/skeleton.html" %}
{% block head_title %}Communiqués et ressources de Presse Madame Aime{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/press.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Découvrez les communiqués et télechargez les ressources de presse Madame Aime{% endblock %}
{% block mmm_content %}
<section id="press" class="boring">
  <h1>Presse</h1>

  <p>
    Pour plus de renseignements contactez-nous&nbsp;:<br />
    <b>Thomas Rousson</b><br />
    <i class="icon-globe"></i>  06 82 07 02 02<br />
    <i class="icon-envelope"></i> <a href="mailto:thomas@madameaime.com">thomas@madameaime.com</a>
  </p>

  <h2>Documents</h2>

  <ul class="thumbnails">
    <li>
      <a href="http://static.madameaime.com/press/logo.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/logo.jpg');"></a>
      Logo HD
    </li>
    <li>
      <a href="http://static.madameaime.com/press/box-decembre-2012.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/box-decembre-2012.jpg');"></a>
      Coffret Décembre 2012
    </li>
  </ul>
  <ul class="thumbnails">
    <li>
      <a href="http://static.madameaime.com/press/equipe-1.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/equipe-1.jpg');"></a>
      L'équipe Madame Aime
    </li>
    <li>
      <a href="http://static.madameaime.com/press/equipe-2.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/equipe-2.jpg');"></a>
      L'équipe Madame Aime
    </li>
    <li>
      <a href="http://static.madameaime.com/press/guillaume-thomas-1.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/guillaume-thomas-1.jpg');"></a>
      Guillaume et Thomas
    </li>
    <li>
      <a href="http://static.madameaime.com/press/guillaume-thomas-2.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/guillaume-thomas-2.jpg');"></a>
      Guillaume et Thomas
    </li>
  </ul>
  <ul class="thumbnails">
    <li>
      <a href="http://static.madameaime.com/press/anne.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/anne.jpg');"></a>
      Anne
    </li>
    <li>
      <a href="http://static.madameaime.com/press/francoise.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/francoise.jpg');"></a>
      Françoise
    </li>
    <li>
      <a href="http://static.madameaime.com/press/guillaume.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/guillaume.jpg');"></a>
      Guillaume
    </li>
    <li>
      <a href="http://static.madameaime.com/press/thomas.jpg" target="_blank" class="thumbnail" style="background-image: url('{{STATIC_URL}}img/press/thomas.jpg');"></a>
      Thomas
    </li>
  </ul>
</section>
{% endblock %}
