{% extends "mmm/skeleton.html" %}
{% block head_title %}Inscription ou Connexion à votre compte{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/auth.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Inscrivez vous sur Madame Aime et offrez un coffret cadeau original{% endblock %}
{% block mmm_content %}

<div id="auth" class="row-fluid">
	<!-- registration form -->
	<div class="register span6">
		<form class="form-horizontal" method="post" action="{% url registration %}">
			<fieldset>
				<legend>Créez votre compte</legend>
				{% csrf_token %}

				<div class="control-group">
					<label class="control-label" for="id_username">Adresse e-mail</label>
					<div class="controls">
						<input id="id_username" type="text" name="username" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="id_password1">Mot de passe</label>
					<div class="controls">
						<input id="id_password1" type="password" name="password1" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="id_password2">Confirmer mot de passe</label>
					<div class="controls">
						<input id="id_password2" type="password" name="password2" />
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn-link shiny" name="register">Créez votre compte</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<!-- login form -->
  <div class="login span6">
		<form class="form-horizontal" method="post" action="{% url registration %}">
      <fieldset>
				<legend>Déjà enregistré ?</legend>
				{% csrf_token %}

				<div class="control-group">
					<label class="control-label" for="auth_email">Adresse e-mail</label>
					<div class="controls">
						<input type="text" name="email" id="auth_email" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="auth_password">Mot de passe</label>
					<div class="controls">
						<input type="password" name="password" id="auth_password" />
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn-link shiny" name="auth">Se connecter</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</div>


{% comment %}
<tr><th><label for="id_password1">Mot de passe:</label></th><td><input type="password" name="password1" id="id_password1" /></td></tr>
<tr><th><label for="id_password2">Confirmation du mot de passe:</label></th><td><input type="password" name="password2" id="id_password2" /><br /><span class="helptext">Saisissez le même mot de passe que précédemment, pour vérification.</span></td></tr>
{{registration_form}}
{{authentication_form}}
{% endcomment %}


{% comment %}
<div id="auth" class="row-fluid">
	<div class="register span6">
		<form class="form-horizontal" method="post" action="{url_resolver::get('auth.php')}{if isset($next)}?next={$next}{/if}">
			<fieldset>
			<legend>Créez votre compte</legend>

	{$csrf_input nofilter}

	<div class="control-group{if isset($errors['register_fields']['email'])} error{/if}">
	  <label class="control-label" for="register_email">Adresse e-mail</label>
	  <div class="controls">
	    <input type="text" name="email" id="register_email" value="{if isset($register_fields['email'])}{$register_fields['email']}{/if}" />
	  </div>
	</div>

	<div class="control-group{if isset($errors['register_fields']['password'])} error{/if}">
	  <label class="control-label" for="register_password">Mot de passe</label>
	  <div class="controls">
	    <input type="password" name="password" id="register_password" />
	  </div>
	</div>

	<div class="control-group{if isset($errors['register_fields']['password_confirm'])} error{/if}">
	  <label class="control-label" for="register_password_confirm">Confirmer mot de passe</label>
	  <div class="controls">
	    <input type="password" name="password_confirm" id="register_password_confirm" />
	  </div>
	</div>

	<div class="control-group">
	  <div class="controls">
	    <button type="submit" class="btn-link shiny" name="register">Créez votre compte</button>
	  </div>
	</div>
    </form>
  </div>
  <div class="login span6">
    <form class="form-horizontal" method="post" action="{url_resolver::get('auth.php')}{if isset($next)}?next={$next}{/if}">
      <fieldset>
  	<legend>Déjà enregistré ?</legend>

	{if isset($errors['auth_form'])}
	<div class="alert alert-error">
	  {$errors['auth_form']}
	</div>
        {elseif isset($errors['auth_fields'])}
        <div class="alert alert-error">
          Le formulaire comporte des erreurs
        </div>
	{/if}

        {$csrf_input nofilter}

	<div class="control-group{if isset($errors['auth_fields']['email'])} error{/if}">
	  <label class="control-label" for="auth_email">Adresse e-mail</label>
	  <div class="controls">
	    <input type="text" name="email" id="auth_email" value="{if isset($auth_fields['email'])}{$auth_fields['email']}{/if}" />
	  </div>
	</div>

	<div class="control-group{if isset($errors['auth_fields']['password'])} error{/if}">
	  <label class="control-label" for="auth_password">Mot de passe</label>
	  <div class="controls">
	    <input type="password" name="password" id="auth_password" />
	  </div>
	</div>

	<div class="control-group">
	  <div class="controls">
	    <button type="submit" class="btn-link shiny" name="auth">Se connecter</button>
	  </div>
	</div>
    </form>
  </div>
</div>
{% endcomment %}

{% endblock %}
