{% extends "mmm/skeleton.html" %}
{% block head_title %}L'histoire de Madame Aime{% endblock %}
{% block meta_description %}Madame Aime, c'est d'abord l'histoire de 2 amis qui voulaient faire plaisir à leur maman{% endblock %}
{% block mmm_content %}
<div class="boring">
  <h1>D'où vient Madame Aime ?</h1>
  <hr />
  <h2>Madame Aime, c'est d'abord l'histoire de 2 amis qui voulaient faire plaisir à leur maman.</h2>

  <p>L'aventure Madame Aime a démarré par une conversation anodine dont l'objet était : Comment faire un cadeau original à sa Maman?</p>

  <p>Un vrai casse tête pour nous deux ! Mais notre cas n’était pas isolé, au fil des discussions avec nos proches, il s’avérait qu’ils étaient aussi perdus que nous pour faire un cadeau à leur maman ou leur tante.</p>

  <p>Nos mères étant à la fois modernes et exigeantes, dur dur d’arriver à les surprendre…</p>

  <p>Au même moment, nos amies succombaient les unes après les autres à la déferlante des beauty box (Mylittlebox, JolieBox..). Chaque mois elles recevaient une boîte pleine de surprises parfaitement adaptée à leurs goûts de jeunes femmes. En regardant de plus près, nous avons découvert qu’il n’existait aucun coffret de ce type pour les femmes de + de 40 ans.</p>

  <p>Pourquoi nos sœurs et nos amies avaient-elles droit à leur coffret et pas nos mères ?</p>

  <p>Qu’à cela ne tienne, si personne ne s’occupe d’elles, nous le ferons ! Notre idée : concevoir un coffret à leur image adapté leur mode de vie.</p>

  <p>Oui mais comment faire plaisir à des femmes sans parfaitement les connaître et comprendre leurs goîts ?</p>

  <p>C’est simple, il suffit de leur demander ! Nous en parlons à nos mamans respectives, elles sont enthousiastes et se joignent au projet. En mettant en commun les compétences de chacun,  une équipe se forme, prête à envoyer chaque mois du bonheur en boîte !</p>

  <p>L'aventure Madame Aime est lancée !</p>
</div>
{% endblock %}
