{% extends "mmm/skeleton.html" %}
{% block head_title %}Rituel de Hamman par Dans le noir ? Le Spa{% endblock %}
{% block meta_description %}Découvrez Dans le noir ? Le Spa, marque partenaire de Madame Aime{% endblock %}
{% block mmm_content %}
<section id="brand">
  <header><img src="{{STATIC_URL}}img/brands/dans-le-noir-le-spa/header.png" alt="" /></header>
  <div class="row-fluid">
    <div class="span8 left">
      <div class="description">
        <h1>Dans le noir ? Le spa</h1>
        <p>
          <b>Rituel de hamman pour 2 par "Dans le Noir ? le Spa"</b>
        </p>
        <p>
          Détendez vous dans un lieu unique en France : "le Spa Dans le
          Noir" ! Après la success story des restaurants vous proposant
          de dîner dans l'obscurité la plus totale, Dans le Noir a
          récidivé avec son Spa, le premier employant des praticiens
          bien-être non-voyants diplômés d’Etat.
        </p>
        <p>
          Au delà d'un spa accueillant et d'une belle histoire, Dans le
          Noir c'est une  aventure tactile, sensorielle et humaine
          unique !
        </p>
        <p>
          - Fermer les yeux et rêver, se laisser porter par nos sens
          oubliés<br />
          - Ressourcer notre énergie interne par les miracles du
          toucher.<br />
          - Un moment de calme et de sérénité au cœur de la ville
          : votre bulle Sensorielle !
        </p>
        <p>
          <b>MadameAime Phyderma : Rituel de hamman pour 2 personnes</b>
        </p>
        <p>
          D’une valeur de 78 €  le bon comprend une séance de hamman de
          30 minutes avec son kit de gommage Savon Noir & Gant de Kessa
          le tout pour 2 personnes.
        </p>
        <p>
          Vous n'habitez pas Paris, pas de panique ! Le bon est valable
          jusqu'au mois de décembre 2013 … Sûrement l'occasion pour vous
          de passer par la capitale et de vous détendre entre 2 séances
          shopping !
        </p>
      </div>
      <div class="comments">
        <h2>Donnez-nous votre avis !</h2>
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="span4 right">
      <div class="visual">
        <h2>Rituel de Hamman pour 2 personnes</h2>
        <p>
          <img src="{{STATIC_URL}}img/brands/dans-le-noir-le-spa/image.png" alt="Rituel de Hamman" /><br />
        </p>
        <div class="order row-fluid">
          <div class="span4">
            <span class="price">78€</span>
          </div>
          <div class="span7">
            <a target="_blank" class="shiny button" href="http://www.danslenoir.com/le-spa/page.php?parent=C&p=offrir-un-soin">
              Commander</a>
          </div>
        </div>
      </div>
      <div class="facebook">
        <div class="fb-container">
          <div class="fb-like-box"
               data-href="https://www.facebook.com/DansLeNoir.leSpa"
               data-width="280"
               data-height="320"
               data-show-faces="true"
               data-border-color="red"
               data-stream="false"
               data-header="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var disqus_shortname = 'madameaime';
  var disqus_url = 'http://www.madameaime.com/marques/dans-le-noir-le-spa';
  var disqus_config = function () {
     this.language = "fr";
  };

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
