{% extends "mmm/skeleton.html" %}
{% block head_title %}Phyderma{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/brands.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Découvrez Phyderma marque partenaire de Madame Aime{% endblock %}
{% block mmm_content %}
<section id="brand">
  <header>
    <a target="_blank" href="http://www.phyderma.fr"><img src="{{STATIC_URL}}img/brands/phyderma/header.png" alt="" /></a>
  </header>
  <div class="row-fluid">
    <div class="span8 left">
      <div class="description">
        <h1>Phyderma</h1>
        <p>
          MadameAime et Phyderma partagent la même philosophie du
          bien-être et l’étroit lien entre santé et beauté On ne peut
          pas dire naturel car nos produits ne sont pas « naturels
          ». Nous utilisons des ingrédients naturels mais cela ne suffit
          pas à être qualifié de produit naturel.
        </p>
        <p>
          C’est pourquoi  nous avons décidé d’en faire la marque phare
          de ce nouveau coffret.
        </p>
        <p>
          Phyderma propose des produits à base d’ingrédients actifs
          naturels. Ses trois principes sont :
          <ul>
            <li>
              <b>Innovation & Créativité</b> : Grâce à l’alliance de substances
              naturelles et d’actifs de haute technicité.
            </li>
            <li>
              <b>Qualité</b> : L’ équipe de développement se base sur des
              études scientifiques. Les produits font l’objet de tests
              règlementaires.
            </li>
            <li>
              <b>Efficacité</b> : Les formules s’appuient sur des actifs ayant
              fait l’objet d’études d’efficacité permettant  d’obtenir
              des résultats fiables et probants.
            </li>
          </ul>
        </p>
        <p>
          Entrer dans l’univers Phyderma, c’est découvrir l’union
          parfaite entre la force des substances naturelles et la
          technicité d’actifs objectivés pour sublimer votre beauté.
        </p>
        <p>
          La grande majorité des produits sont sans parabènes et sans
          allergènes.
        </p>
        <p>
          Toutes les formules sont développées conformément aux
          exigences du nouveau règlement cosmétique Européen 1223/2009.
        </p>
        <p>
          Phyderma c’est aussi le club des testeuses qui vous permet de
          découvrir et tester gratuitement les produits de la marque .
          Pour en savoir plus et avoir la chance de devenir testeuse
          Phyderma, rendez vous sur
          <a href="http://www.club-des-testeuses.fr" target="_blank">
            www.club-des-testeuses.fr</a>
        </p>
        <p>
          <b>Pour les clientes de MadameAime, Phyderma a décidé d’offrir
            20% de réduction grâce code MMEAIME à insérer dans votre
            panier.</b>  (Code valable jusqu’au 31 mai 2013)
        </p>
        <p>
          Pour en profiter, rendez-vous sur :
          <a href="http://www.phyderma.fr" target="_blank">
            www.phyderma.fr</a>
        </p>
      </div>
      <div class="products row-fluid">
        <div class="span6 product row-fluid">
          <div class="span5 image">
            <img src="{{STATIC_URL}}img/brands/phyderma/soin-de-jour-revitalisant/image.png" alt="" />
          </div>
          <div class="span7 details">
            <h2>Phyderma</h2>
            <p>
              Soin de jour revitalisant Royalessence
            </p>
          </div>
          <a class="shiny" href="{% url 'brands/phyderma/soin-de-jour-revitalisant' %}">Découvrir</a>
        </div>
        <div class="span6 product row-fluid">
          <div class="span5 image">
            <img src="{{STATIC_URL}}img/brands/phyderma/creme-mains-reparatrice/image.png" alt="" />
          </div>
          <div class="span7 details">
            <h2>Phyderma</h2>
            <p>
              Crème mains réparatrice protection hiver
            </p>
          </div>
          <a class="shiny" href="{% url 'brands/phyderma/creme-mains-reparatrice' %}">Découvrir</a>
        </div>
      </div>
    </div>
    <div class="span4 right">
      <div class="facebook">
        <div class="fb-container">
          <div class="fb-like-box"
               data-href="https://www.facebook.com/phyderma"
               data-width="280"
               data-height="320"
               data-show-faces="true"
               data-border-color="red"
               data-stream="false"
               data-header="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
