{% extends "mmm/skeleton.html" %}
{% block head_title %}Gel Buste Royal par Secrets de Miel{% endblock %}
{% block meta_description %}Découvrez Secrets de Miel, marque partenaire de Madame Aime{% endblock %}
{% block mmm_content %}
<section id="brand">
  <header><img src="{{STATIC_URL}}img/brands/secrets-de-miel/header.png" alt="" /></header>
  <div class="row-fluid">
    <div class="span8 left">
      <div class="description">
        <h1>Secrets de Miel</h1>
        <p>
          Secrets de Miel, c’est l’histoire d’une jeune fille : Elise Hernaez
          qui a grandi au milieu les ruches du domaine apicole exploité par sa
          famille depuis 5 générations. En 2011, elle décide d’exploiter les
          vertus des produits de la ruche et lance une ligne de soins 100%
          naturelle pour le visage, le corps et les cheveux.
        </p>
        <p>
          <strong>Madame Aime Février 2013&nbsp;: Gel Buste Royal 100ml</strong>
        </p>
        <p>
          MadameAime vous fait découvrir l’Apithérapie avec le Gel Buste Royal
          de Secrets de Miel. Grâce à sa formule riche en vitamines, en gelée
          royale et en pollen, le Gel Buste Royal lutte contre le vieillissement
          et redonne fermeté et élasticité à votre décolleté. Il doit être
          appliqué matin et soir en massages circulaires et ascendants.
        </p>

        <p>
          <span class="pink">Le + Secrets de Miel&nbsp;:</span><br />
          - 100% des principes actifs d’origine naturelle<br />
          - Des produits sans paraben, sans silicone  et sans huile de parafine
        </p>
        <p>
          Afin de garder la proximité avec ses clientes, les produits
          Secrets de Miel sont vendus uniquement via des conseillères formées
          par la maison. Pour trouver la plus proche de chez vous, il suffit de
          vous rendre sur le site <a href="http://www.secretsdemiel.fr">
            http://www.secretsdemiel.fr</a>.
        </p>
        <p>
          L'univers de cette marque vous plaît ? Secrets de Miel recherche
          de nouvelles conseillères pour distribuer ses produits.
          Pour en savoir plus, contactez Sabrina au <span class="pink">
            02 54 36 64 11</span> ou sur <a href="mailto:contact@secretsdemiel.com">
            contact@secretsdemiel.com</a>.
        </p>
      </div>
      <div class="comments">
        <h2>Donnez-nous votre avis !</h2>
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="span4 right">
      <div class="visual">
        <h2>Gel Buste Royal</h2>
        <p>
          <img src="{{STATIC_URL}}img/brands/secrets-de-miel/image.png" alt="Gel Buste Royal" /><br />
          <small>Contenance : 100 ml</small>
        </p>
        <div class="order row-fluid">
          <div class="span5">
            <span class="price">24.50€</span>
          </div>
          <div class="span6">
            <a target="_blank" class="shiny button" href="http://www.secretsdemiel.com/secrets-de-miel-pour-le-corps/gel-buste-royal/">
              Commander</a>
          </div>
        </div>
        <small>Retrouvez la conseillère la plus proche de chez vous sur
          <a href="http://www.secretsdemiel.com">secretsdemiel.com</a></small>
      </div>
      <div class="facebook">
        <div class="fb-container">
          <div class="fb-like-box"
               data-href="https://www.facebook.com/pages/Secrets-de-Miel/212646505427832"
               data-width="280"
               data-height="320"
               data-show-faces="true"
               data-border-color="red"
               data-stream="false"
               data-header="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var disqus_shortname = 'madameaime';
  var disqus_url = 'http://www.madameaime.com/marques/secrets-de-miel';
  var disqus_config = function () {
     this.language = "fr";
  };

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
