{% extends "mmm/skeleton.html" %}
{% block head_title %}Miel de Citronnier par Le coin des Délices{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/brands.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Découvrez Le coin des Délices, marque partenaire de Madame Aime{% endblock %}
{% block mmm_content %}
<section id="brand">
  <header><img src="{{STATIC_URL}}img/brands/le-coin-des-delices/header.png" alt="" /></header>
  <div class="row-fluid">
    <div class="span8 left">
      <div class="description">
        <h1>Le coin des Délices</h1>
        <p>
          <b>Miel du Mas des Abeilles distribué par Le Coin des Délices.</b>
        </p>
        <p>
          Faites vous plaisir avec un produit de qualité élaboré de
          manière artisanale au coeur de la Provence !
        </p>
        <p>
          Le Mas des Abeilles est situé au sommet du Luberon, entre
          Avignon, Aix et Manosque.
        </p>
        <p>
          Une entreprise familiale qui sélectionne, conditionne et
          exporte les meilleurs crus de miels de Provence et d’ailleurs
          depuis plus de trente ans.
        </p>
        <p>
          <b>MadameAime Phyderma : Miel de Citronnier 250g</b>
        </p>
        <p>
          <span class="pink">Le plus que MadameAime :</span><br /> Aucun
          additif n’étant nécessaire pour la production, la récolte,
          l’extraction ou le conditionnement, le miel est un produit
          100% naturel !
        </p>
        <p>
          Retrouvez les produits du Mas des Abeilles dans les épiceries
          fines et les prestigieux food stores de Paris, Berlin,
          Bruxelles, New-York, Moscou ou Tokyo.
        </p>
        <p>
          Pour en savoir plus sur le Coin des Délices :
          <a href="http://www.lecoindesdelices.com" target="_blank">www.lecoindesdelices.com</a>
        </p>
      </div>
      <div class="comments">
        <h2>Donnez-nous votre avis !</h2>
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="span4 right">
      <div class="visual">
        <h2>Miel de Citronnier</h2>
        <p>
          <img src="{{STATIC_URL}}img/brands/le-coin-des-delices/miel-de-citronnier/image.png" alt="Miel de Citronnier" /><br />
          <small>Contenance : 250ml</small>
        </p>
        <div class="order row-fluid">
          <div class="span5">
            <span class="price">9.95€</span>
          </div>
          <div class="span6">
            <a target="_blank" class="shiny button" href="http://www.lecoindesdelices.com">
              Commander</a>
            <small>sur <a href="http://www.lecoindesdelices.com" target="_blank">lecoindesdelices.com</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var disqus_shortname = 'madameaime';
  var disqus_url = 'http://www.madameaime.com/marques/le-coin-des-delices/miel-de-citronnier';
  var disqus_config = function () {
     this.language = "fr";
  };

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
