<div class="previous">
  <div class="title">Les autres coffrets Madame Aime</div>
  <ul class="row-fluid">
    <li class="span4">
      <a href="{% url 'boxes/2012-dec' %}">
        <img src="{{STATIC_URL}}img/boxes/2012-dec/photo.png" alt=""/>
        <span class="shiny">Découvrir</span>
      </a>
      <span>Décembre 2012</span>
    </li>
    <li class="span4">
      <a href="{% url 'boxes/2013-feb' %}">
        <img src="{{STATIC_URL}}img/boxes/2013-feb/photo.png" alt=""/>
        <span class="shiny">Découvrir</span>
      </a>
      <span>Février 2013</span>
    </li>
  </ul>
</div>
