<div class="row-fluid" id="social">
	<div class="span7" id="newsletter">
		<form method="post" action="">

			<label for="newsletter-email">
				Inscrivez-vous à la Newsletter
			</label>

			<div class="forms">
				<input type="text" id="newsletter-email" name="newsletter_email" placeholder="Votre adresse e-mail" />
				<button type="submit" class="btn-link shiny" name="newsletter_submit">OK</button>
			</div>

		</form>
	</div>

	<div id="follow-us" class="span5">
		Suivez-nous sur
		<span>
			<a href="https://www.facebook.com/pages/Madame-Aime/435771933150281" title="Madame Aime sur Facebook"><img src="{{STATIC_URL}}img/facebook.png" alt="Facebook"></a>
			<a href="https://www.twitter.com/MadameAimeTwit" title="Madame Aime sur Twitter"><img src="{{STATIC_URL}}img/twitter.png" alt="Twitter"></a>
			<a href="https://plus.google.com/105522103830375553633" title="Madame Aime sur Google+"><img src="{{STATIC_URL}}img/googleplus.png" alt="Google+"></a>
			<a href="https://pinterest.com/madameaime/" title="Madame Aime sur Pinterest"><img src="{{STATIC_URL}}img/pinterest.png" alt="Pinterest"></a>
		</span>
	</div>
</div>

<footer id="footer">
	<div id="footer-inner" class="row-fluid">
		<div class="span3">
			<h3>Madame Aime</h3>
			<ul>
				<li><a href="">Comment ça marche ?</a></li>
				<li><a href="">Offrir</a></li>
				<li><a href="">Marques</a></li>
				<li><a href="">Coffret</a></li>
				<li><a href="http://blog.madameaime.com">Le Blog</a></li>
			</ul>
		</div>
		<div class="span3">
			<h3>À propos</h3>
			<ul>
				<li><a href="">Qui sommes-nous ?</a></li>
				<li><a href="">Notre histoire</a></li>
				<li><a href="">Livraison</a></li>
				<li><a href="">CGV</a></li>
				<li><a href="">Mentions légales</a></li>
			</ul>
		</div>
		<div class="span3">
			<h3>Contactez-nous</h3>
			<ul>
				<li><a href="">Contact</a></li>
				<li><a href="">Foire aux questions</a></li>
				<li><a href="mailto:partenaire@madameaime.com">Devenir partenaire</a></li>
				<li><a href="mailto:presse@madameaime.com">Presse</a></li>
				<li><a href="mailto:recrutement@madameaime.com">Recrutement</a></li>
			</ul>
		</div>
		<div class="span3">
			<h3>Paiement sécurisé</h3>
			<div id="secured-payment"></div>
			<h3>Partenaire Livraison</h3>
			<div id="delivery-partners"></div>
		</div>
	</div> <!-- /footer-inner -->
</footer> <!-- /footer -->
