<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{% block head_title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta property="og:title" content="Madame Aime" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.madameaime.com" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="MadameAime.com" />
    <meta property="fb:app_id" content="435771933150281" />

    <link href="https://plus.google.com/105522103830375553633" rel="publisher" />
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />

    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{STATIC_URL}}css/index.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{STATIC_URL}}css/how_does_it_work.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{STATIC_URL}}css/offer.css" rel="stylesheet" type="text/css" media="all" />

    <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div id="container">
      <nav id="header" class="clearfix">
	<div id="header-logo" class="pull-left">
	  <a href="{% url homepage %}" title="Le coffret cadeau qui plaît aux femmes !">Madame Aime</a>
	</div>

	<div class="fb-like" data-href="https://www.facebook.com/pages/Madame-Aime/435771933150281" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
	<div class="header-inner pull-right">
	  <div id="header-login" class="pull-right">
	    {% if not user.is_authenticated %}
	    <a href="" class="account"><i class="icon-account"></i> Se connecter / S'inscrire</a>
	    {else}
	    <a href=""><i class="icon-account"></i>Déconnexion</a>
	    {% endif %}
	    <a href="" class="shopping-cart"><i class="icon-shopping-cart"></i> Panier</a>
	    {% if user.is_authenticated %}
	    <a href="" class="my">Mon compte</a>
	    {% endif %}
	  </div>

	  <div id="header-nav">
	    <a href="{% url homepage %}">Accueil</a>
	    <a href="{% url how-does-it-work %}">Comment ça marche ?</a>
	    <a href="{% url offer %}">Offrir</a>
	    <a href="{% url brands %}">Marques</a>
	    <a href="">Coffret</a>
	    <a href="http://blog.madameaime.com">Blog</a>
	  </div>
	</div>
      </nav> <!-- /header -->
      {% block mmm_content %}{% endblock %}
      <div class="row-fluid" id="social">
	<div class="span7" id="newsletter">
	  <form method="post" action="">

	    <label for="newsletter-email">
	      Inscrivez-vous à la Newsletter
	    </label>

	    <div class="forms">
	      <input type="text" id="newsletter-email" name="newsletter_email" placeholder="Votre adresse e-mail" />
	      <button type="submit" class="btn-link shiny" name="newsletter_submit">OK</button>
	    </div>

	  </form>
	</div>

	<div id="follow-us" class="span5">
	  Suivez-nous sur
	  <span>
	    <a href="https://www.facebook.com/pages/Madame-Aime/435771933150281" title="Madame Aime sur Facebook"><img src="{{STATIC_URL}}img/facebook.png" alt="Facebook"></a>
	    <a href="https://www.twitter.com/MadameAimeTwit" title="Madame Aime sur Twitter"><img src="{{STATIC_URL}}img/twitter.png" alt="Twitter"></a>
	    <a href="https://plus.google.com/105522103830375553633" title="Madame Aime sur Google+"><img src="{{STATIC_URL}}img/googleplus.png" alt="Google+"></a>
	    <a href="https://pinterest.com/madameaime/" title="Madame Aime sur Pinterest"><img src="{{STATIC_URL}}img/pinterest.png" alt="Pinterest"></a>
	  </span>
	</div>
      </div>

      <footer id="footer">
	<div id="footer-inner" class="row-fluid">
	  <div class="span3">
	    <h3>Madame Aime</h3>
	    <ul>
	      <li><a href="{% url how-does-it-work %}">Comment ça marche ?</a></li>
	      <li><a href="{% url offer %}">Offrir</a></li>
	      <li><a href="{% url brands %}">Marques</a></li>
	      <li><a href="">Coffret</a></li>
	      <li><a href="http://blog.madameaime.com">Le Blog</a></li>
	    </ul>
	  </div>
	  <div class="span3">
	    <h3>À propos</h3>
	    <ul>
	      <li><a href="{% url about %}">Qui sommes-nous ?</a></li>
	      <li><a href="{% url story %}">Notre histoire</a></li>
	      <li><a href="{% url delivery %}">Livraison</a></li>
	      <li><a href="{% url sales-conditions %}">Conditions Générales de Vente</a></li>
	      <li><a href="{% url legal %}">Mentions légales</a></li>
	    </ul>
	  </div>
	  <div class="span3">
	    <h3>Contactez-nous</h3>
	    <ul>
	      <li><a href="">Contact</a></li>
	      <li><a href="">Foire aux questions</a></li>
	      <li><a href="mailto:partenaire@madameaime.com">Devenir partenaire</a></li>
	      <li><a href="mailto:presse@madameaime.com">Presse</a></li>
	      <li><a href="mailto:recrutement@madameaime.com">Recrutement</a></li>
	    </ul>
	  </div>
	  <div class="span3">
	    <h3>Paiement sécurisé</h3>
	    <div id="secured-payment"></div>
	    <h3>Partenaire Livraison</h3>
	    <div id="delivery-partners"></div>
	  </div>
	</div> <!-- /footer-inner -->
      </footer> <!-- /footer -->
    </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
      <script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>
      <script src="{{STATIC_URL}}js/index.js"></script>
      <script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-12141958-4']);
	_gaq.push(['_setDomainName', 'madameaime.com']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
      </script>
  </body>
</html>
