{% extends "mmm_backoffice/base.html" %}
{% block content %}
<table class="table table-striped table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <th>commande</th>
      <th>ADS num commande</th>
      <th>ADS num BL</th>
      <th>operation type</th>
      <th>date</th>
      <th>code promo</th>
      <th>gratuit</th>
      <th>prix</th>
      <th>produit</th>

      <th>be2bill code retour</th>
      <th>be2bill message</th>

      <th>fact. prénom</th>
      <th>fact. nom</th>
      <th>fact. email</th>
      <th>fact. adresse</th>
      <th>fact. addresse 2</th>
      <th>fact. code postal</th>
      <th>fact. ville</th>
      <th>fact. tel</th>
      <th>fact. pays</th>

      <th>livr. prénom</th>
      <th>livr. nom</th>
      <th>livr. email</th>
      <th>livr. adresse</th>
      <th>livr. addresse 2</th>
      <th>livr. code postal</th>
      <th>livr. ville</th>
      <th>livr. tel</th>
      <th>livr. pays</th>
    </tr>
  </thead>
  <tbody>
    {% for order_pk, order in orders %}
    {% for order_sale in order.content %}
    <tr class="{% if order.success %}success{% else %}error {% endif %}">
      <td>{{order.info.exposed_id}}</td>
      <td>{{order.pk}}</td>
      <td>{{order_sale.pk}}</td>
      <td>{{order.be2bill_transactions.0.operationtype}}</td>
      <td>{{order.info.date}}</td>
      <td>{{order.info.promo_code}}</td>
      <td>{{order.info.is_free}}</td>
      <td>{{order_sale.sale.price}}</td>
      <td>{{order_sale.sale.product.name}}</td>

      <td>{{order.be2bill_transactions.0.execcode}}</td>
      <td>{{order.be2bill_transactions.0.message}}</td>

      <td>{{order.info.billing.firstname}}</td>
      <td>{{order.info.billing.lastname}}</td>
      <td>{{order.info.billing.email}}</td>
      <td>{{order.info.billing.address}}</td>
      <td>{{order.info.billing.additional}}</td>
      <td>{{order.info.billing.zip_code}}</td>
      <td>{{order.info.billing.city}}</td>
      <td>{{order.info.billing.phone}}</td>
      <td>{{order.info.billing.country}}</td>

      <td>{{order_sale.delivery.firstname}}</td>
      <td>{{order_sale.delivery.lastname}}</td>
      <td>{{order_sale.delivery.email}}</td>
      <td>{{order_sale.delivery.address}}</td>
      <td>{{order_sale.delivery.additional}}</td>
      <td>{{order_sale.delivery.zip_code}}</td>
      <td>{{order_sale.delivery.city}}</td>
      <td>{{order_sale.delivery.phone}}</td>
      <td>{{order_sale.delivery.country}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
