{% extends "account/layout.html" %}
{% block account_title %}Mes commandes{% endblock %}
{% block account_content %}
<div class="orders">
  <p class="help boring">
    Depuis <a href="{% url "account/orders" %}">mes commandes</a> vous
    avez la possibilité de suivre toute l’activité de vos commandes et
    mettre à jour celles-ci. Choisissez un des liens plus bas pour voir ou
    éditer vos commandes
  </p>
  <table>
    <thead>
      <tr>
        <th style="width: 150px;">Produit</th>
        <th>Adresse</th>
        <th style="width: 50px;">Prix</th>
        <th style="width: 200px;">Message</th>
      </tr>
    </thead>
    <tbody>
      {% for ordersale in object.ordersale_set.all %}
      <tr>
        <td>{{ ordersale.sale.product.name }}</td>
        <td>
          {% include "account/order-delivery-display.html" %}
        </td>
        <td>{{ ordersale.sale.price }}</td>
        <td>{{ordersale.message|linebreaks}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="foot"></td>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
