<form class="form-horizontal" method="post" action="{% url 'login' %}">
  {% csrf_token %}

  {% if form.errors %}
  <div class="alert alert-error">
    Accès refusé, vérifiez vos identifiants de connexion !
  </div>
  {% endif %}

  <fieldset>
    <legend>Déjà enregistré ?</legend>

    <div class="control-group">
      <label class="control-label" for="login_email">Adresse e-mail</label>
      <div class="controls">
	<input type="email" name="{{form.username.html_name}}" id="login_email" value="{{form.username.value|default:""}}" />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="login_password">Mot de passe</label>
      <div class="controls">
	<input type="password" name="{{form.password.html_name}}" id="login_password" />
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
	<button type="submit" class="btn-link shiny" name="auth">Se connecter</button>
      </div>
    </div>
  </fieldset>
  <input type="hidden" name="next" value="{{next}}" />
</form>
