{% extends "mmm/skeleton.html" %}
{% block head_title %}Perles enrobées de chocolat par NEWTREE{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/brands.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block meta_description %}Découvrez NEWTREE marque partenaire de Madame Aime{% endblock %}
{% block mmm_content %}
<section id="brand" class="newtree">
  <header></header>
  <div class="row-fluid">
    <div class="span8 left">
      <div class="description">
        <h1>Newtree</h1>
        <p>
          NEWTREE nous vient de Bruxelles et nous propose des produits savoureux
          et respectueux de l’environnement. Aujourd’hui, la gamme est composée
          de tablettes de chocolat, de pâtes à tartiner sans huile et les toutes
          nouvelles perles de fruits enrobées de chocolat.
        </p>
        <p>
          <strong>Madame Aime Décembre 2012&nbsp;: les Perles de Fruits enrobées de chocolat 25 g</strong>
        </p>
        <p>
          Avant son lancement national, MadameAime vous a fait découvrir en
          exclusivité le tout nouveau produit de NEWTREE. Le mariage réussi
          entre le côté juteux d’une orange fraîchement cueillie et du chocolat
          noir raffiné à 66% de cacao (Origine du Pérou et de la République Dominicaine).
          Le goût est délicieux et les ingrédients sont 100% naturels.
        </p>

        <p>
          <span class="pink">Le + NEWTREE&nbsp;:</span><br />
          Une entreprise responsable qui fait don d’un centime par tablette vendue.
          Des produits certifiés biologiques et Fairtrade. Les perles de fruits ne
          contiennent aucun agent conservateur, ni colorant artificiel, ni graisse trans,
          ni OGM et ça, Madame Aime !
        </p>
        <p>
          Pour en savoir plus sur NEWTREE&nbsp;: <a href="http://www.newtree.com">
            http://www.newtree.com</a>.
        </p>
      </div>
      <div class="comments">
        <h2>Donnez-nous votre avis !</h2>
        <div id="disqus_thread"></div>
      </div>
    </div>
    <div class="span4 right">
      <div class="visual">
        <h2>Perles de fruits<br />enrobées de chocolat</h2>
        <p>
          <img src="{{STATIC_URL}}img/brands/newtree/image.png" alt="Perles de fruits" /><br />
          <small>Contenance : 25g</small>
        </p>
        <div class="order row-fluid">
          <div class="span4">
            <span class="price">1.75€</span>
          </div>
          <div class="span7">
            <a target="_blank" class="shiny button" href="http://www.newtree.com/fr_fr/shop/perles/cherry-dark-chocolate-spread.html">
              Commander</a>
            <small>sur <a href="http://newtree.com">NEWTREE.com</a></small>
          </div>
        </div>
      </div>
      <div class="facebook">
        <div class="fb-container">
          <div class="fb-like-box"
               data-href="https://www.facebook.com/NEWTREE"
               data-width="280"
               data-height="320"
               data-show-faces="true"
               data-border-color="red"
               data-stream="false"
               data-header="false">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var disqus_shortname = 'madameaime';
  var disqus_url = 'http://www.madameaime.com{% url brands/newtree %}';
  var disqus_config = function () {
     this.language = "fr";
  };

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
