{% extends "mmm/skeleton.html" %}
{% block head_title %}Votre panier - Madame Aime{% endblock %}
{% block meta_description %}Madame Aime est un moyen facile de composer son panier de cadeaux pour se faire plaisir ou faire plaisir à ses proches{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/checkout.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block mmm_content %}
<table id="checkout-cart">
  <thead>
    <tr>
      <th class="first"></th>
      <th class="second">Description</th>
      <th class="third"></th>
      <th class="fourth">Prix</th>
      <th class="fifth"></th>
    </tr>
  </thead>
  <tbody>
    {% for object in objects %}
    <tr>
      <td class="thumb"></td>
      <td class="info">
	<b class="name">{{object.product.name}}</b><br />
        <span class="description">
	  {{object.shopping_cart_description|default_if_none:""|linebreaks}}
	</span>
      </td>
      <td></td>
      <td class="price">
	<span class="value">{{object.price}} €</span><br />
	<span class="shipping">livraison incluse</span>
      </td>
      <td class="delete">
	<form method="post" action="{% url emarket:shoppingcart.remove sale_id=object.pk %}">
	  {% csrf_token %}
          <button type="submit" class="btn-link shiny">Supprimer</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td class="add" rowspan="2" colspan="2"><a href="{% url offer %}">Ajouter un coffret à ma commande</a></td>
      <td class="total-label">Total</td>
      <td class="total-value">
	<span class="value">{{total_price}} €</span><br />

        <span class="shipping">frais de port inclus</span>
      </td>
      <td rowspan="2" class="validate"><a class="shiny" href="{% url emarket:delivery %}">Valider</a></td>
    </tr>
    <tr>
      <td class="vat-label">Dont TVA</td>
      <td class="vat-value">{{charges|floatformat:2}}€</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
