{% extends "mmm/skeleton.html" %}
{% block head_title %}Les coffrets cadeaux de Madame Aime{% endblock %}
{% block meta_description %}Découvrez tous les coffrets cadeaux confectionnés par Madame Aime{% endblock %}
{% block mmm_content %}
<section id="box">
  <div class="description clearfix">
    <div class="photo pull-left">
      <a href="{% url "offer" %}">
        <img src="{{STATIC_URL}}img/boxes/2013-mar/photo.png" alt="Coffret Phyderma"/>
      </a>
    </div>
    <div class="text pull-right">
      <h1>Madame Aime Phyderma</h1>
      <p style="font-size: 80%;">
        Le printemps commence à pointer le bout de son nez et avec lui,
        un vent de féminité. Têtes et gambettes vont laisser de côté
        bonnets et manteaux pour enfin se dévoiler … Préparons nous à
        profiter des premiers rayons du soleil et des températures plus
        douces !
      </p>
      <p>
        Ce mois-ci, MadameAime s’associe avec la marque Phyderma pour
        relever un défi : celui de vous envelopper de douceur. Et quoi
        de mieux que le miel pour mettre d’accord peau et papilles ?
      </p>
      <p>
        Pour cette édition spéciale, MadameAime et Phyderma vous ont
        concocté un menu spécial :
      </p>
      <p style="font-weight: bold;">
        - Soin de jour revitalisant Royalessence - Phyderma - 24,90€<br />
        - Crème mains réparatrice protection hiver - Phyderma - 14,90€<br />
        - Miel de citronnier - Mas des Abeilles - 9,95€<br />
        - Nougat de Montélimar - Biscuiterie Lor - 9,90€<br />
        - Hammam pour 2 avec son kit de gommage - Spa dans le Noir - 78€
      </p>
    </div>
  </div>

  <div class="products">
    <div class="row-fluid">
        <div class="span4 product row-fluid">
          <div class="span5 image">
            <img src="{{STATIC_URL}}img/brands/phyderma/soin-de-jour-revitalisant/image.png" alt="" />
          </div>
          <div class="span7 details">
            <h2>Phyderma</h2>
            <p>
              Soin de jour revitalisant Royalessence
            </p>
          </div>
          <a class="shiny" href="{% url 'brands/phyderma/soin-de-jour-revitalisant' %}">Découvrir</a>
        </div>

        <div class="span4 product row-fluid">
          <div class="span5 image">
            <img src="{{STATIC_URL}}img/brands/phyderma/creme-mains-reparatrice/image.png" alt="" />
          </div>
          <div class="span7 details">
            <h2>Phyderma</h2>
            <p>
              Crème mains réparatrice protection hiver
            </p>
          </div>
          <a class="shiny" href="{% url 'brands/phyderma/creme-mains-reparatrice' %}">Découvrir</a>
        </div>

      <div class="span4 product row-fluid">
        <div class="span6 image">
          <img src="{{STATIC_URL}}img/brands/dans-le-noir-le-spa/image.png" alt="" />
        </div>
        <div class="span6 details">
          <h2>Dans le noir ? Le Spa</h2>
          <p>
            Rituel de hamman pour 2 personnes
          </p>
        </div>
        <a class="shiny" href="{% url "brands/dans-le-noir-le-spa" %}">Découvrir</a>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4 product row-fluid">
        <div class="span6 image">
          <img src="{{STATIC_URL}}img/brands/le-coin-des-delices/miel-de-citronnier/image.png" alt="" />
        </div>
        <div class="span6 details">
          <h2>Le coin des délices</h2>
          <p>
            Miel de Citronnier
          </p>
        </div>
        <a class="shiny" href="{% url "brands/le-coin-des-delices/miel-de-citronnier" %}">Découvrir</a>
      </div>

      <div class="span4 product row-fluid">
        <div class="span6 image">
          <img src="{{STATIC_URL}}img/brands/le-coin-des-delices/nougat-de-montelimar/image.png" alt="" />
        </div>
        <div class="span6 details">
          <h2>Le coin des délices</h2>
          <p>
            Nougat de Montélimar
          </p>
        </div>
        <a class="shiny" href="{% url "brands/le-coin-des-delices/nougat-de-montelimar" %}">Découvrir</a>
      </div>

      <div class="span4 next">
        <p>
          <small>Madame Aime est le premier coffret pour les femmes à partir de 40 ans.</small>
        </p>
        <div class="mag">
          <p>
            Coffret MadameAime Phyderma
          </p>
          <div class="more">
            <a class="shiny" href="{% url 'offer' %}">J'en profite</a>
          </div>
          <a id="open-mag" target="_blank" class="shiny" href="http://issuu.com/madameaime">Consulter le mag</a>
        </div>
      </div>
    </div>
  </div>
  {% include 'boxes/previous.html' %}
</section>
{% endblock %}
