<div class="previous">
  <div class="title">Les autres coffrets Madame Aime</div>
  <ul class="row-fluid">
    <li class="span4">
      <a href="{% url 'boxes/2012-dec' %}">
        <img src="{{STATIC_URL}}img/boxes/2012-dec/photo.png" alt=""/>
      </a>
      <span>MadameAime Noël</span>
    </li>
    <li class="span4">
      <a href="{% url 'boxes/2013-feb' %}">
        <img src="{{STATIC_URL}}img/boxes/2013-feb/photo.png" alt=""/>
      </a>
      <span>MadameAime la St. Valentin</span>
    </li>
    <li class="span4">
      <a href="{% url "boxes/2013-mar" %}">
        <img src="{{ STATIC_URL }}img/boxes/2013-mar/thumb.png" alt=""/>
      </a>
      <span>MadameAime Phyderma</span>
    </li>
  </ul>
  <ul class="row-fluid">
    <li class="span4">
      <a href="{% url "boxes/2013-may" %}">
        <img src="{{ STATIC_URL }}img/boxes/2013-may/thumb.png" alt=""/>
      </a>
      <span>MadameAime by Vivolta</span>
    </li>
    <li class="span4">
      <a href="{% url "boxes/2013-jun" %}">
        <img src="{{ STATIC_URL }}img/boxes/2013-jun/thumb.png" alt=""/>
      </a>
      <span>Coffret Mon Jardin & Ma Maison - Eté</span>
    </li>
  </ul>
</div>
